{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Cadastrar Cliente</h1>
    <div class="card">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="nome_cliente" class="form-label">Nome:</label>
                    <input type="text" class="form-control" id="nome_cliente" name="nome_cliente" value="{{ cliente.nome_cliente }}">
                </div>
                <div class="mb-3">
                    <label for="telefone" class="form-label">Telefone:</label>
                    <input type="text" class="form-control telefone-mask" id="telefone" name="telefone" value="{{ cliente.telefone }}">
                </div>
                <div class="mb-3">
                    <label for="ultima_compra" class="form-label">Última Compra:</label>
                    <input type="date" class="form-control" id="ultima_compra" name="ultima_compra" value="{{ cliente.ultima_compra }}">
                </div>
                <div class="mb-3">
                    <label for="tipo_cliente" class="form-label">Tipo de Cliente:</label>
                    <input type="text" class="form-control" id="tipo_cliente" name="tipo_cliente" value="{{ cliente.tipo_cliente }}">
                </div>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
