{% extends 'base.html' %}

{% block title %}Lista de Clientes{% endblock %}

{% block content %}
<div class="my-5 container-xl mx-auto">
    <h2>Lista de Clientes</h2>


    <div class="d-flex justify-content-between mb-2 row">
        <h1 class="text-start col" style="font-size: 1.3rem;"><i class="bi bi-box"></i> Lista de Produtos</h1>
        <a  type="button"  href="{% url 'criar_cliente' %}"  id="btnCriar" class="btn btn-warning btn-sm  my-1 col-sm-auto ms-auto me-2" style="font-size: 0.8rem;"><i style="font-size: 0.8rem;" class="bi bi-file-earmark-plus me-1"></i>Criar Novo Produto</a>
        </div>

<div class="container-xl p-3   mx-auto bg-dark rounded">
    <table class="table table-hover table-responsive table-sm table-dark">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Telefone</th>
                <th scope="col">Rua</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for cliente in clientes %}
            <tr>
                <th scope="row">{{ cliente.nome }}</th>
                <td>{{ cliente.telefone }}</td>
                <td>{{ cliente.endereco.rua }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Ações do Cliente">
                        <a type="button" class="btn btn-primary btn-sm" href="{% url 'editar_cliente' cliente.id_cliente %}">
                            <i class="bi bi-pencil"></i>  
                        </button>
                        <a type="button" class="btn btn-danger btn-sm btn-confirmacao" href="{% url 'excluir_cliente' cliente.id_cliente %}"
                        data-acao="excluir" 
                        data-titulo="Excluir Cliente" 
                        data-descricao="Tem certeza de que deseja excluir este Cliente? dados não será possivel recuperar."
                        >
                            <i class="bi bi-trash"></i>  
                        </button>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}
