# Arquivos de ambiente local
.env.dev
 
# Arquivos de log de desenvolvimento
*.log

# Arquivos de bytecode Python
__pycache__/
*.pyc

# Arquivos de configuração de IDEs
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
local_settings.py
