 

# Arquivos de log de desenvolvimento
*.log

# Arquivos de bytecode Python
__pycache__/
*.pyc
**/__pycache__/
venv/**/*.pyc   

# Arquivos de configuração de IDEs
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Arquivos temporários
*.pyo
*.bak
*.swp

# Diretórios
app/__pycache__/

# Logs e arquivos de saída
*.cache
