# Arquivos de ambiente local
.env.dev

# Arquivos de log de desenvolvimento
*.log

# Arquivos de bytecode Python
__pycache__/
*.pyc
**/__pycache__/
venv/**/*.pyc  # Ignora todos os arquivos .pyc na pasta venv e em seus subdiretórios

# Arquivos de configuração de IDEs
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Arquivos temporários
*.pyo
*.bak
*.swp

# Diretórios
app/__pycache__/

# Logs e arquivos de saída
*.cache
