<form method="post" action="{% url 'criar_configuracao' %}">
    {% csrf_token %}
    <div class="list-group">
      <label class="list-group-item d-flex gap-2">
        <input class="form-check-input flex-shrink-0" type="checkbox" name="status" value=" " checked>
        <input type="hidden" name="titulo" value=" ">
        <input type="hidden" name="descricao" value=" }">
        <span>
          <small class="d-block text-body-secondary"> </small>
        </span>
      </label>  
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>