{% extends 'base.html' %}

{% block title %} Gestão Vendas{% endblock %}

{% block content %}
{% include 'venda/modal_venda.html' %}
<div class="container mt-4">
    <div class="container bg-dark rounded">
            <div class="d-flex align-items-center py-3 px-2 bg-dark text-light justify-content-between      " onclick="toggleFilter()">
                <i class="bi bi-search mr-2 me-1"></i>
                <span clas="ms-1"> Filtro</span>
                <i id="arrow-icon" class="bi bi-chevron-down ml-auto ms-auto"></i>
            </div>
            <div id="id_container_filtro" class="filter-content p-2  mt-2 container mb-2 mx-auto bg-dark border-top border-whiter border-1" style="display:none" >
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                    <div class="col p-1">
                        <div class="form-floating">
                            <input type="text" id="datePickerInput" name="daterange" class="form-control"  >
                            <label for="datePickerInput">Data:</label>
                        </div>
                    </div>
                    
                <div class="col p-1">

                        <div class="form-floating">
                            <select name="id_loja_list" class="form-select-sm form-select select_lojas" id="filtro_select_loja">
                                <option  value="0" class="small font-monospace mt-2" >Selecione</option>
                            </select>
                            <label for="filtro_select_loja">Loja:</label>
                        </div>
                    </div>

                    <div class="col p-1">
                        <div class="form-floating">
                            <select name="metodo_entrega" class="form-select-sm form-select" id="filtro_select_metodo_entrega">
                                <option  value="0" class="small font-monospace mt-2"  >Selecione</option>
                                <option value="retirado na loja">Retirado na Loja</option>
                                <option value="entrega no local">Entrega no Local</option>
                            </select>
                            <label for="select_metodo_entrega">Método de Entrega:</label>
                        </div>
                    </div>

                    <div class="col p-1">
                        <div class="form-floating">
                            <select name="estado_transacao" class="form-select-sm form-select" id="filtro_select_estado_transacao">
                                            <option  value="0" class="small font-monospace mt-2" >Selecione</option>
                                <option value="finalizado">Finalizado</option>
                                <option value="processando">Processando</option>
                                <option value="pendente">Pendente</option>
                            </select>
                            <label for="select_estado_transacao">Estado da Transação:</label>
                        </div>
                    </div>

                    <div class="col p-1">
                        <div class="form-floating">
                            <select name="forma_pagamento" class="form-select-sm form-select" id="filtro_select_forma_pagamento">
                                <option value="0">Selecione</option>
                                <option value="dinheiro">Dinheiro</option>
                                <option value="pix">Pix</option>
                                <option value="cartao credito">Cartão de Crédito</option>
                                <option value="cartao debito">Cartão de Débito</option>
                                <option value="fiado">Fiado</option>
                            </select>
                            <label for="select_forma_pagamento">Forma de Pagamento:</label>
                        </div>
                    </div>
                </div>
        </div>

    </div>
 
    <div class="container bg-dark text-light shadow rounded mx-auto p-3 my-2">
        <label class="d-flex align-items-center border-bottom border-whiter border-1 ">
            <i class="bi bi-file-earmark-plus me-1"></i>
            Resumo
        </label>

        <div class="d-flex mt-2  justify-content-between">
            <span class="font-monospace fw-bold"  >Período:</span>
            <label id="date_perildo" class="font-monospace ms-auto text-end" style="font-size: 0.8rem;"></label>
        </div>
        <div class="d-flex mt-2  justify-content-between">
            <span class="font-monospace  fw-bold" style="font-size: 1.0rem;">Valor Total:</span>
            <label id="valor_total" class="font-monospace ms-auto"></label>
        </div>
        <div class="d-flex mt-2  justify-content-between">
            <span class="font-monospace  fw-bold" style="font-size: 1.0rem;">Quantidade:</span>
            <label id="quantidade_total" class="font-monospace ms-auto"></label>
        </div>
    </div>
    
    <div class="container  bg-light mx-auto">
        <div class="d-flex  mt-3 mb-2 justify-content-between">
            <span   class=" font-monospace fw-border my-auto" style="font-size: 1.0rem;">Lista de Vendas</span>
            <a href="{%url 'criar_venda'%}"  id="btnCriar" class="btn btn-warning btn-sm" style="font-size: 0.8rem;"><i style="font-size: 0.8rem;" class="bi bi-file-earmark-plus me-1"></i>Cadastrar Venda</a>
        </div>
    </div> 
    <div  class="container p-3 mx-auto bg-dark rounded">
        <table id="container_load" class="table table-hover table-responsive table-sm table-dark">
            <thead>
                <tr>
                    <th scope="col" class="text-start">Loja</th>
                    <th scope="col" class="d-none d-sm-table-cell order-1 text-start">Estado Transação</th>
                    <th scope="col" class="d-none d-sm-table-cell order-2 text-start">Valor Total</th>
                    <th scope="col" class="text-end  ">Ações</th>
                </tr>
            </thead>
            <tbody id="table_list_vendas" class="table-group-divider">
                <!-- Aqui será gerado dinamicamente o conteúdo da tabela -->
            </tbody>
        </table>
    </div>
    
</div>


  <script >
   
    function toggleFilter() {
        const filterContainer = document.getElementById('id_container_filtro');
        const arrowIcon = document.getElementById('arrow-icon');
        if (filterContainer.style.display === "none" || filterContainer.style.display === "") {
            filterContainer.style.display = "block";
            arrowIcon.classList.remove('bi-chevron-down');
            arrowIcon.classList.add('bi-chevron-up');
        } else {
            filterContainer.style.display = "none";
            arrowIcon.classList.remove('bi-chevron-up');
            arrowIcon.classList.add('bi-chevron-down');
        }
    }
    const selectLoja = document.getElementById('filtro_select_loja');
    const selectMetodoEntrega = document.getElementById('filtro_select_metodo_entrega');
    const selectEstadoTransacao = document.getElementById('filtro_select_estado_transacao');
    const selectFormaPagamento = document.getElementById('filtro_select_forma_pagamento');
    const datePickerInput = document.getElementById('datePickerInput');
    
    selectLoja.addEventListener('change', filtrarVendas);
    selectMetodoEntrega.addEventListener('change', filtrarVendas);
    selectEstadoTransacao.addEventListener('change', filtrarVendas);
    selectFormaPagamento.addEventListener('change', filtrarVendas);
    datePickerInput.addEventListener('change', filtrarVendas);
    let flatpickrInstance; // Declare a variável flatpickrInstance
    function filtrarVendas() {
        // Verifique se o Flatpickr foi inicializado
        if (!flatpickrInstance) {
            console.error('Flatpickr não foi inicializado.');
            return;
        }
    
        // Verifique se pelo menos uma data foi selecionada
        const selectedDates = flatpickrInstance.selectedDates;
        if (selectedDates.length === 0) {
            console.error('Nenhuma data foi selecionada.');
            return;
        }
    
        // Recupere os dados de pedidos do LocalStorage
        const vendas = Utils.getLocalStorageItem('data_vendas');
        if (!vendas) {
            console.error('Erro ao recuperar os dados de vendas do LocalStorage.');
            return;
        }
    
        const valorSelectLoja = parseInt(selectLoja.value);
        const valorSelectMetodoEntrega = selectMetodoEntrega.value;
        const valorSelectEstadoTransacao = selectEstadoTransacao.value;
        const valorSelectFormaPagamento = selectFormaPagamento.value;
    
        // Função para converter string de data no formato 'dd/mm/yyyy hh:mm' para objeto Date
        function converterParaData(dataStr) {
            if (!dataStr) {
                return null;
            }
    
            const [dia, mes, anoHora] = dataStr.split('/');
            if (!dia || !mes || !anoHora) {
                return null;
            }
    
            const [ano, hora] = anoHora.split(' ');
            if (!ano || !hora) {
                return null;
            }
    
            const [horas, minutos] = hora.split(':');
            if (!horas || !minutos) {
                return null;
            }
    
            return new Date(ano, mes - 1, dia, horas, minutos);
        }
    
        // Defina o intervalo de datas (início e fim)
        let startDate, endDate;
        if (selectedDates.length === 1) {
            // Se apenas uma data foi selecionada, use essa data para startDate e endDate
            startDate = new Date(selectedDates[0].getTime());
            startDate.setHours(0, 0, 0, 0); // Define a hora para 00:00:00
            endDate = new Date(selectedDates[0].getTime());
            endDate.setHours(23, 59, 59, 999); // Define a hora para 23:59:59.999
        } else {
            // Se um intervalo de datas foi selecionado
            startDate = new Date(selectedDates[0].getTime());
            startDate.setHours(0, 0, 0, 0); // Define a hora para 00:00:00
            endDate = new Date(selectedDates[1].getTime());
            endDate.setHours(23, 59, 59, 999); // Define a hora para 23:59:59.999
        }
    
        // Função para verificar se uma data está dentro do intervalo selecionado
        function dataDentroDoIntervalo(dataInsercao, startDate, endDate) {
            return dataInsercao >= startDate && dataInsercao <= endDate;
        }
    
        // Filtrar pedidos com base nos selects e no intervalo de datas
        const vendasFiltradas = vendas.filter(venda => {
            const lojaSelecionada = valorSelectLoja === 0 || venda.loja_id === valorSelectLoja;
            const metodoEntregaCorrespondente = valorSelectMetodoEntrega === '0' || venda.metodo_entrega === valorSelectMetodoEntrega;
            const estadoTransacaoCorrespondente = valorSelectEstadoTransacao === '0' || venda.estado_transacao === valorSelectEstadoTransacao;
            const formaPagamentoCorrespondente = valorSelectFormaPagamento === '0' || venda.forma_pagamento === valorSelectFormaPagamento;
    
            const dataInsercao = converterParaData(venda.insert);
            if (!dataInsercao) {
                return false;
            }
    
            // Verificar se a data de inserção do pedido está dentro do intervalo selecionado
            return lojaSelecionada &&
                metodoEntregaCorrespondente &&
                estadoTransacaoCorrespondente &&
                formaPagamentoCorrespondente &&
                dataDentroDoIntervalo(dataInsercao, startDate, endDate);
        });
    
        preencherTabelaVendas(vendasFiltradas);
    }
            // Função para preencher a tabela de vendas com os dados do localStorage
    function preencherTabelaVendas(vendas) {
        try {
            atualizarResumoVendas(vendas);
            const tbody = document.getElementById('table_list_vendas');
            // Limpar qualquer conteúdo existente na tabela
            tbody.innerHTML = '';

            // Verificar se existem dados de vendas no localStorage
            if (vendas && vendas.length > 0) {
                // Iterar sobre os dados de vendas e criar uma linha na tabela para cada venda
                vendas.forEach(venda => {
                    const tr = document.createElement('tr');

                    const tdLoja = document.createElement('td');
                data_lojas = Utils.getLocalStorageItem('data_lojas');
                data_lojas.forEach(function(loja) {
                    if (loja.id_loja === venda.loja_id) {
                        tdLoja.textContent = loja.nome_loja;
                        tdLoja.classList.add( 'd-sm-table-cell', 'order-1', 'text-start');
                        return; // Parar de percorrer o array assim que entrar no if
                    }
                });
                    const tdEstado = document.createElement('td');
                    tdEstado.textContent = venda.estado_transacao;
                    tdEstado.classList.add('d-sm-table-cell', 'd-none','order-1', 'text-start');

                    const tdValor = document.createElement('td');
                    tdValor.textContent = venda.valor_total;
                    tdValor.classList.add('d-sm-table-cell', 'd-none', 'order-2', 'text-start');

                    const tdAcoes = document.createElement('td');
                    tdAcoes.classList.add('text-end');

                    const divBtnGroup = document.createElement('div');
                    divBtnGroup.classList.add('btn-group');
                    divBtnGroup.setAttribute('role', 'group');
                    divBtnGroup.setAttribute('aria-label', 'Ações do Usuário');
                
                    const btnVer = document.createElement('button');
                    btnVer.setAttribute('type', 'button');
                    btnVer.classList.add('btn', 'btn-success', 'btn-sm');
                    btnVer.innerHTML = '<i class="bi bi-eye me-1" style="font-size: 0.8rem;"></i>';

                    btnVer.addEventListener('click', function() {
                        detalhes_modal_cliente(venda.id_venda);
                        open_modal();
                    });

                    const btnEditar = document.createElement('a');
                    btnEditar.setAttribute('href', '/vendas/editar/'+venda.id_venda+"/");
                    btnEditar.classList.add('btn', 'btn-warning', 'btn-sm');
                    btnEditar.innerHTML = '<i class="bi bi-pencil me-1" style="font-size: 0.8rem;"></i>';


                    divBtnGroup.appendChild(btnVer);
                    divBtnGroup.appendChild(btnEditar);
                    tdAcoes.appendChild(divBtnGroup);

                    tr.appendChild(tdLoja);
                    tr.appendChild(tdEstado);
                    tr.appendChild(tdValor);
                    tr.appendChild(tdAcoes);

                    tbody.appendChild(tr);
                });
            } else {
                // Se não houver dados de vendas no localStorage, exibir uma mensagem na tabela
                const tr = document.createElement('tr');

                const tdMensagem = document.createElement('td');
                tdMensagem.textContent = 'Nenhuma venda encontrada';
                tdMensagem.setAttribute('colspan', '4');

                tr.appendChild(tdMensagem);
                tbody.appendChild(tr);
            }
        } catch (error) {
            console.error("Erro ao chamar a função Python:", error);
        }
    }
    
// Função para atualizar o dropdown com as lojas
function atualizarDropdownLojas(list_lojas, classe_select_lojas) {
    // Seleciona todos os elementos select com a classe especificada
    const selects = document.querySelectorAll('.' + classe_select_lojas);

    // Itera sobre cada select encontrado
    selects.forEach(function(select) {
        // Limpa as opções existentes
        select.innerHTML = '';

        // Adiciona a opção padrão, se houver mais de uma loja na lista
        if (list_lojas.length > 1) {
            const optionDefault = document.createElement('option');
            optionDefault.value = '0';
            optionDefault.textContent = 'Selecione';
            select.appendChild(optionDefault);
        }

        // Adiciona as opções de lojas
        list_lojas.forEach(function(loja) {
            const option = document.createElement('option');
            option.value = loja.id_loja;
            option.textContent = loja.nome_loja;
            select.appendChild(option);
        });
    });
}
function get_data(){

    try {
        chamarFuncaoPython("/api/vendas/dados", null, 'GET', function(response) {
            if (response.success === true) {
                // Armazenar os dados no localStorage
                Utils.setLocalStorageItem('data_lojas', response.lojas);
                Utils.setLocalStorageItem('data_vendas', response.vendas);
                Utils.setLocalStorageItem('data_produtos', response.produtos);
                atualizarDropdownLojas(response.lojas, "select_lojas");
                filtrarVendas(response.vendas);
            } else {
                alertCustomer(response.error);
            }
        });
    } catch (error) {
        console.error("Erro ao chamar a função Python:", error);
    }
    
}var myModal; // Defina a variável myModal no escopo global

// Função para abrir o modal
function open_modal() {
    myModal = new bootstrap.Modal(document.getElementById('ModalVenda'));
    myModal.show();
}

// Função para fechar o modal
function close_modal() {
    if (myModal) { // Verifique se myModal está definido antes de chamá-lo
        myModal.hide();
    } else {
        console.error('myModal não está definido.');
    }
}
window.onload = function() {
    inicializarPagina();
};

function inicializarPagina() {
    get_data();
    // Função para obter a data atual formatada como "dd/mm/yyyy"
    function getCurrentDateFormatted() {
        var hoje = new Date();
        var dia = hoje.getDate().toString().padStart(2, '0');
        var mes = (hoje.getMonth() + 1).toString().padStart(2, '0');
        var ano = hoje.getFullYear();
        return dia + "/" + mes + "/" + ano;
    }

    const datePickerInput = document.getElementById('datePickerInput');

    // Inicialize o Flatpickr e atribua a instância a flatpickrInstance
    flatpickrInstance = flatpickr(datePickerInput, {
        mode: "range", // Modo de seleção de intervalo
        dateFormat: "d/m/Y", // Formato da data
        allowInput: true, // Permite que o usuário insira manualmente as datas
        defaultDate: [getCurrentDateFormatted(), getCurrentDateFormatted()], // Define o valor inicial para o dia atual
        locale: {
            rangeSeparator: " até " // Altera o texto "to" para " até "
        }
    });
};
 

function atualizarResumoVendas(listaVendas) {
    const resumoVendas = resumirVendas(listaVendas);
    const valorTotalFormatado = formatarNumero(resumoVendas.valorTotal);

    input = document.getElementById("datePickerInput").value;
    document.getElementById('date_perildo').textContent = input;
    document.getElementById('valor_total').textContent = valorTotalFormatado;
    document.getElementById('quantidade_total').textContent = resumoVendas.quantidadeTotal;
}

// Função para resumir as vendas
function resumirVendas(listaVendas) {
    let valorTotal = 0;
    let quantidadeTotal = listaVendas.length;

    listaVendas.forEach(venda => {
        // Converter valor_total para um número antes de somar
        const valorVenda = parseFloat(venda.valor_total);
        if (!isNaN(valorVenda)) {
            valorTotal += valorVenda;
        }
    });

    return {
        valorTotal: valorTotal,
        quantidadeTotal: quantidadeTotal
    };
}

// Função para formatar um número com duas casas decimais
function formatarNumero(numero) {
    // Verificar se o número é válido antes de formatar
    if (typeof numero === 'number') {
        return numero.toFixed(2);
    } else {
        return '0.00'; // Valor padrão se o número não for válido
    }
}

</script>
        {% endblock %}
