
{% block content %}
    <div class="modal fade" id="ModalVenda" data-bs-backdrop="static"   data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg modal-fullscreen-lg-down modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title fw-bold font-monospace" id="lojaModalLabel" >
                    {% if text_venda %} Detalhes de Venda{% endif%}
                    {% if form_venda %} Formulario de Venda{% endif%}
                </h5>
                </div>
                    {% if text_vendas %} 
                   
                    <div class="modal-footer ">
                        <a href="{% url 'lista_vendas' %}" class="btn btn-secondary mx-auto btn-sm">Fechar</a>
        
                    </div>  
                {% endif%}

                {% if form_venda %}   
                <div class="modal-body  font-monospace">

                <form method="post" id="form_cadastro" class="needs-validation" autocomplete="off" novalidate>
                
                    {% csrf_token %}
                    <div class="form-floating mb-2">
                        {{ form_venda.loja }}
                        <label for="id_loja">Loja:</label>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control produtoInput" placeholder="Produto:" id="produtoInput" name="produtoInput" list="produtosList" autocomplete="off" />
                        <button class="btn btn-outline-secondary bi-plus" type="button" id="adicionarProdutoBtn"></button>
                    </div>
                    
                    <datalist id="produtosList">
                        {% for produto in list_produtos %}
                       <option value="{{ produto.nome }}" data-valor="{{produto.preco_venda}}" data-id-loja="{{produto.loja.id_loja}}" class="list-group-item" data-id="{{ produto.id_produto }}" data-retornavel="{{ produto.is_retornavel }}"  />
                        {% endfor %}
                    </datalist>
                    
                    <ul class="list-group" id="listaProdutos">
                        <!-- Itens da lista de produtos selecionados serão adicionados aqui dinamicamente -->
                    </ul>
                  
<script>
    
    document.addEventListener('DOMContentLoaded', function() {
        var lojaSelect = document.querySelector('#id_loja');
        var produtoInput = document.querySelector('#produtoInput');
        var produtosList = document.querySelector('#produtosList');
    
        // Função para remover itens da lista de produtos com base na loja selecionada
        function atualizarListaProdutos() {
            var idLojaSelecionada = lojaSelect.value;
    
            // Remover todos os itens da lista de produtos
            while (produtosList.firstChild) {
                produtosList.removeChild(produtosList.firstChild);
            }
    
            // Adicionar novamente os itens associados à loja selecionada
            var options = document.querySelectorAll('[data-id-loja]');
            options.forEach(function(option) {
                var idLojaProduto = option.getAttribute('data-id-loja');
                if (idLojaProduto === idLojaSelecionada || idLojaSelecionada === '') {
                    produtosList.appendChild(option.cloneNode(true));
                }
            });
        }
    
        // Adicionar evento de mudança ao campo de seleção da loja
        lojaSelect.addEventListener('change', atualizarListaProdutos);
    
        // Chamar a função de atualização inicialmente para exibir os produtos corretos
        atualizarListaProdutos();
    });
    
    
    
    document.addEventListener("DOMContentLoaded", function () {
        // Obtém o input do produto
        var produtoInput = document.getElementById("produtoInput");
        
        // Adiciona evento de entrada para detectar a seleção de uma opção
        produtoInput.addEventListener("input", function() {
            var selectedOption = document.querySelector("#produtosList option[value='" + this.value + "']");
            if (selectedOption) {
                 OptionSelection(selectedOption);
            }
        });

        // Função para lidar com a seleção de opção
        function  OptionSelection(option) {
            var produtoId = option.getAttribute("data-id");
            var produtoPreco = parseFloat(option.getAttribute("data-valor"));
            var produtoRetornavel =  option.getAttribute("data-retornavel");
            var produtoInput = document.querySelector(".produtoInput");
                console.log("Produto ID: " + produtoId);
                console.log("Produto Preço: " + produtoPreco);
                produtoInput.dataset.id = produtoId;
                produtoInput.dataset.valor = produtoPreco;
                produtoInput.dataset.retornavel = produtoRetornavel;
        }
    }); 
    function verificarRetornaveis() {
        var itensLista = listaProdutos.querySelectorAll(".list-group-item");
        var totalRetornaveis = 0;
    
        // Itera sobre os itens da lista e verifica se são retornáveis
        itensLista.forEach(function (item) {
            var isRetornavel = item.dataset.retornavel === "True";
            if (isRetornavel) {
                totalRetornaveis++;
            }
        });
    
        // Verifica se todos os itens são retornáveis
        if (totalRetornaveis === itensLista.length) {
            console.log("Todos os itens são retornáveis.");
        } else if (totalRetornaveis === 0) {
            console.log("Nenhum item é retornável.");
        } else {
            console.log("Alguns itens são retornáveis e outros não.");
        }
    }
     
    function calcularValorTotal() {
        var itensLista = listaProdutos.querySelectorAll(".list-group-item");
        var valorTotal = 0;
        
        // Itera sobre os itens da lista e calcula o valor total
        itensLista.forEach(function (item) {
            var quantidade = parseInt(item.querySelector(".quantidade").textContent);
            var valorUnitario = parseFloat(item.getAttribute("data-valor"));
            valorTotal += quantidade * valorUnitario;
        });

        // Define o valor total no label, formatando-o com vírgula e duas casas decimais
        var labelValorTotal = document.getElementById("label_valor_total");
        if (labelValorTotal) {
            labelValorTotal.textContent = valorTotal.toLocaleString('pt-BR', {minimumFractionDigits: 2});
        } else {
            console.error("Elemento label_valor_total não encontrado.");
        }
    }
    
    document.addEventListener("DOMContentLoaded", function () { 
        var adicionarBtn = document.getElementById("adicionarProdutoBtn");
        var valorTotalInput = document.getElementById("label_valor_total");
        var listaProdutos = document.getElementById("listaProdutos");
      // Função para calcular o valor total e atualizar o label
       
        adicionarBtn.addEventListener("click", function () {
            var produtoInput = document.getElementById("produtoInput");
            var produtoSelecionado = produtoInput.value.trim();
            var produtoId = produtoInput.getAttribute("data-id");
            var produtoRetornavel = produtoInput.getAttribute("data-retornavel");
            var produto_valor_unitario = parseFloat(produtoInput.getAttribute("data-valor"));
            
            if (produtoSelecionado !== "") {
                var listaProdutos = document.getElementById("listaProdutos");
                var itensLista = listaProdutos.querySelectorAll(".list-group-item");
                var produtoExistente = false;
                
                // Verifica se o produto já está na lista
                itensLista.forEach(function (item) {
                    var idExistente = item.getAttribute("data-id");
                    if (idExistente === produtoId) {
                        // Se já existir, aumenta a quantidade
                        var quantidadeSpan = item.querySelector(".quantidade");
                        var quantidadeAtual = parseInt(quantidadeSpan.textContent);
                        quantidadeSpan.textContent = quantidadeAtual + 1;
                        produtoExistente = true;
                    }
                });

                if (!produtoExistente) {
                    // Se o produto não existir na lista, cria um novo item
                    var novoItemLista = document.createElement("li");
                    novoItemLista.classList.add("list-group-item", "d-flex", "justify-content-between", "align-items-center");
                    novoItemLista.setAttribute("data-id", produtoId);
                    novoItemLista.setAttribute("data-retornavel", produtoRetornavel); 
                    novoItemLista.setAttribute("data-valor", produto_valor_unitario);
                    novoItemLista.innerHTML = `
                        <span class="badge text-bg-primary me-1 rounded-pill quantidade">1</span>
                        <span class="" >${produtoSelecionado} R$${produto_valor_unitario} Unid</span>

                        <span class="btn btn-sm btn-outline-primary bi-plus ms-auto" onclick="aumentarQuantidade(this)"></span>
                        <span class="btn btn-sm btn-outline-danger bi-dash ms-1" onclick="diminuirQuantidade(this)"></span>
                    `;
                    listaProdutos.appendChild(novoItemLista);
                }

                calcularValorTotal();
                produtoInput.value =""
                verificarRetornaveis();
            }
        });
    });
    
    function aumentarQuantidade(elemento) {
        var quantidadeSpan = elemento.parentElement.querySelector(".quantidade");
        var quantidadeAtual = parseInt(quantidadeSpan.textContent);
        quantidadeSpan.textContent = quantidadeAtual + 1;
        calcularValorTotal();
    }
    
    function diminuirQuantidade(elemento) {
        var quantidadeSpan = elemento.parentElement.querySelector(".quantidade");
        var quantidadeAtual = parseInt(quantidadeSpan.textContent);
        if (quantidadeAtual > 1) {
            quantidadeSpan.textContent = quantidadeAtual - 1;
        } else {
            elemento.parentElement.remove();
        }
        calcularValorTotal();
    }
</script>

<div class="container mb-1 font-monospace mt-2" style="font: size 1rem;" >
    <label  id="valor_total" class="fw-bold ">Valor Total:</label>
    <label class="ms-auto float-end text-success fw-bold" id="label_valor_total">00,00</label>
</div>
<hr class="mt-1 mb-3 fw-bold ">
         
<div class=" " id="container_gestao_retornavel">

    <div class="alert alert-warning font-monospace" role="alert">
        <i class="bi bi-exclamation-triangle-fill"></i>
        <strong>Atenção:</strong> <span class="" style="font-size: 0.7rem"> Estas configurações se referem à gestão de produtos retornáveis. 
            Este campo pode ser ignorado, mas sua utilização foi modelada para galões de água, que possuem data de validade. Preenchendo as informações, você consegue saber qual foi o último galão pego pelo cliente, entre outras informações.
    </div> 
    <div class="card card-body">
        <label class="form-label fw-bold" style="font-size: 1.2rem">Gestão de Galões</label>
        <div class="row ">
            <label class="form-label fw-bold" style="font-size: 1.rem">Galão que está entrando.</label>
            <div class="col mb-3">
                <div class="form-floating mb-2">
                    <input type="text" id="data_validade_entrada" name="data_validade_entrada" class="form-control data-validade data-mes-ano-mask">
                    <label for="data_validade_entrada" style="font-size: 0.7rem" class="form-label">Data de Validade: <span style="font-size: 0.6rem;">(mes/ano)</span></label>
                </div>
            </div>
            <div class="col mb-3">
                <div class="form-floating mb-2">
                    <input type="text" id="data_fabricacao_entrada" name="data_fabricacao_entrada" class="form-control data-fabricacao data-mes-ano-mask">
                    <label for="data_fabricacao_entrada" style="font-size: 0.7rem" class="form-label">Data de Fabricação: <span style="font-size: 0.6rem;">(mes/ano)</span></label>
                </div>
            </div>
        </div>
        <div class="row ">
            <label class="form-label fw-bold" style="font-size: 1.rem">Galão que está saindo.</label>
            <div class="col mb-3">
                <div class="form-floating mb-2">
                    <input type="text" id="data_validade_saida" name="data_validade_saida" class="form-control data-validade data-mes-ano-mask">
                    <label for="data_validade_saida" style="font-size: 0.7rem" class="form-label">Data de Validade: <span style="font-size: 0.6rem;">(mes/ano)</span></label>
                </div>
            </div>
            <div class="col mb-3">
                <div class="form-floating mb-2">
                    <input type="text" id="data_fabricacao_saida" name="data_fabricacao_saida" class="form-control data-fabricacao data-mes-ano-mask">
                    <label for="data_fabricacao_saida" style="font-size: 0.7rem" class="form-label">Data de Fabricação: <span style="font-size: 0.6rem;">(mes/ano)</span></label>
                </div>
            </div>
        </div>
    </div>
</div>
    

<script>
    document.querySelectorAll(".data-validade").forEach(function(input) {
        input.addEventListener("input", function() {
            // Limpa qualquer timeout existente
            clearTimeout(input.timeoutId);
            
            // Configura um novo timeout para esperar que o usuário pare de digitar
            input.timeoutId = setTimeout(function() {
                // Obtém o valor do campo data_validade
                var dataValidade = input.value.trim();
                
                // Verifica se a entrada está vazia
                if (dataValidade === "") {
                    return; // Não faz nada se estiver vazio
                }
                
                // Verifica se a entrada possui o formato esperado (MM/AAAA)
                var regex = /^(0[1-9]|1[0-2])\/\d{4}$/;
                if (!regex.test(dataValidade)) {
                    return; // Não faz nada se o formato for inválido
                }
                
                // Extrai o mês e o ano da entrada
                var partes = dataValidade.split("/");
                var mes = parseInt(partes[0], 10);
                var ano = parseInt(partes[1], 10);
                
                // Calcula a data de fabricação subtraindo três anos da data de validade
                var dataFabricacao = ("0" + mes).slice(-2) + "/" + (ano - 3);
            
                
                // Encontra o campo de entrada data_fabricacao correspondente
                var dataFabricacaoField = input.closest('.row').querySelector(".data-fabricacao");
                
                // Define o valor do campo data_fabricacao se encontrado
                if (dataFabricacaoField) {
                    dataFabricacaoField.value = dataFabricacao;
                }
            }, 500); // Aguarda 500ms após a última entrada antes de executar o cálculo
        });
    });
        
  </script>
                   


<div class="btn-group mb-2 mt-1" role="group" aria-label="Tipo de Cliente" >
    
                        <button type="button" class="btn btn-primary" data-bs-target="#container_cliente_existente" style="font-size: 0.8rem;">
                            <i class="bi bi-person"></i> Cliente Existente
                        </button>
                        <button type="button" class="btn btn-success" data-bs-target="#container_venda_porta"  style="font-size: 0.8rem;" >
                            <i class="bi bi-person-plus"></i> Novo Cliente
                        </button>
                    </div>
                     
                    <div class="collapse" id="container_cliente_existente">
                        <div class="card card-body">
                            <label for="select_cliente_existente" class="form-label">Selecione o Cliente Existente:</label>
                            <select id="select_cliente_existente" class="form-select" aria-label="Selecione o Cliente Existente">
                               
                            </select>
                        </div>
                    </div>
                    
                    <div class="collapse" id="container_novo_cliente">
                        <div class="card card-body">
                            <label for="nome_novo_cliente" class="form-label">Nome:</label>
                            <input type="text" id="nome_novo_cliente" class="form-control" aria-label="Nome do Novo Cliente">
                            <!-- Outros campos para o cadastro de novo cliente -->
                        </div>
                    </div>
            
                    
                <hr> 
                     
                    
                    <div class="form-floating mb-2">
                        {{ form_venda.forma_pagamento }}
                        <label for="forma_pagamento">Forma de Pagamento:</label>
                    </div>
                    
                    <div class="form-floating mb-2">
                        {{ form_venda.tipo_venda }}
                        <label for="tipo_venda">Tipo de Venda:</label>
                    </div>
                    
                    <div class="form-floating mb-2">
                        {{ form_venda.estado_transacao }}
                        <label for="estado_transacao">Estado da Transação:</label>
                    </div>
                    
                    <div class="form-floating mb-2">
                        {{ form_venda.numero_transacao }}
                        <label for="numero_transacao">Número da Transação:</label>
                    </div>
                    
                    <div class="form-floating mb-2">
                        {{ form_venda.metodo_entrega }}
                        <label for="metodo_entrega">Método de Entrega:</label>
                    </div> 
                    <div class="form-floating mb-2">
                        {{ form_venda.valor_pago }}
                        <label for="id_valor_pago">Valor Pago:</label>
                    </div>
                    <div class="form-floating mb-2">
                        {{ form_venda.troco }}
                        <label for="id_troco">Troco:</label>
                    </div>
                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            // Função para recalcular o troco quando o valor pago é alterado
                            function calcularTroco() {
                                // Obter os valores dos campos
                                var valorPago = parseFloat(document.getElementById('id_valor_pago').value);
                                var notaFiscal = parseFloat(document.getElementById('id_nota_fiscal').value);
                                
                                // Verificar se os valores são válidos
                                if (!isNaN(valorPago) && !isNaN(notaFiscal) && valorPago >= notaFiscal) {
                                    var troco = valorPago - notaFiscal;
                                    document.getElementById('id_troco').value = troco.toFixed(2); // Arredondar para 2 casas decimais
                                } else {
                                    // Se os valores não forem válidos, limpar o campo de troco
                                    document.getElementById('id_troco').value = '';
                                }
                            }
                        
                            // Adicionar um ouvinte de evento de entrada ao campo de valor pago
                            document.getElementById('id_valor_pago').addEventListener('input', calcularTroco);
                        });
                        </script>
                    <div class="form-floating mb-2">
                        {{ form_venda.descricao }}
                        <label for="descricao">Descrição:</label>
                    </div>
                     
                   
                     
                   
                        
  
           
                </div>

            <div class="modal-footer ">
                <a href="{% url 'lista_vendas' %}" class="btn btn-secondary float-start me-auto btn-sm">Cancelar</a>
             <button type="submit" class="btn btn-primary float-end btn-md" >Salvar</button>

            </div>  

        </form>
        </div>
         
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const buttons = document.querySelectorAll('[data-bs-target]');
                buttons.forEach(button => {
                    button.addEventListener('click', () => {
                        const target = button.getAttribute('data-bs-target');
                        const targetElement = document.querySelector(target);
                        const otherTargets = document.querySelectorAll('.collapse');
                        otherTargets.forEach(otherTarget => {
                            if (otherTarget !== targetElement && otherTarget.classList.contains('show')) {
                                const otherCollapse = new bootstrap.Collapse(otherTarget);
                                otherCollapse.hide();
                            }
                        });
                        if (!targetElement.classList.contains('show')) {
                            const collapse = new bootstrap.Collapse(targetElement);
                            collapse.show();
                        }
                    });
                });
            });
        </script>
                    {% endif%}

            </div>
        </div>
    </div>


{% endblock %}
