{% extends 'base.html' %}
{% block title %}cadastro usuario{% endblock %}

{% block content %}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Cadastro de Usuário</h3>
                </div>
                    <form method="post" id="form_cadastro" autocomplete="off" class="needs-validation card-body" novalidate>
                        {% csrf_token %}
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control input"   id="nome_completo" name="nome_completo" value="{{ usuario.nome_completo }}"  required>
                            <label for="nome_completo">Nome Responsável:</label>
                            <div class="invalid-feedback">
                                Por favor, insira o nome.
                            </div>
                        </div>
                        
                        <div  class="form-floating mb-2"   >
                            <select class="form-control  "  {% if usuario.nivel_usuario == 1 %} disabled {% endif %} id="nivel_usuario" name="nivel_usuario"  >
                                <option value="0" >Selecione</option>{% if usuario.nivel_usuario != 1 %} 
                                <option value="1" {% if usuario.nivel_usuario == 1 %} selected {% endif %}>Administrador</option>
                                {% endif %}
                                <option value="2" {% if usuario.nivel_usuario == 2 %} selected {% endif %}>Gerente</option>
                                <option value="3" {% if usuario.nivel_usuario == 3 %} selected {% endif %}>Colaborador</option>
                            </select>
                        
                            <label for="nivel_usuario">Nível de Usuário:</label>
                        </div>
                    
                        <div class="form-floating mb-2">
                            <select class="form-control" id="status" name="status" {% if usuario.nivel_usuario == 1 %} disabled {% endif %}  value="{{ usuario.status_acesso }}">
                                <option value="Ativo"  >Ativo</option>
                                <option value="Bloqueado"  >Bloqueado</option>
                            </select>
                            <label for="status">Status:</label>
                        </div>
                     
                        <button type="button" class="btn mx-auto btn-sm btn-primary" onclick='ValidateInputs()'>
                            Editar 
                        </button>
                    </form>
                    
            </div>
        </div>
    </div>
</div>
<script >  
  

    function ValidateInputs(){
    var nome_completo =   document.getElementById('nome_completo');
    var nivel_usuario =   document.getElementById('nivel_usuario');
    // Verifica se os campos estão preenchidos
    if(nivel_usuario.value === '0'){
        alertCustomer('Por favor, selecione uma opção do campo nivel de usuario');
    }else  if (nome_completo === '' ) {
    alertCustomer('Por favor, preencha todos os campos  antes de prosseguir.');
    return false;
    }else{
    document.getElementById('form_cadastro').submit();
    return true;
    }
}
  
  </script>

{% endblock %}