{% extends 'base.html' %}
{% block title %}cadastro usuario{% endblock %}

{% block content %}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Cadastro de Usuário</h3>
                </div>
                    <form method="post" id="form_cadastro" autocomplete="off" class="needs-validation card-body" novalidate>
                        {% csrf_token %}
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control input"   id="nome_completo" name="nome_completo" value="{{ usuario.nome_completo }}"  required>
                            <label for="nome_completo">Nome Responsável:</label>
                            <div class="invalid-feedback">
                                Por favor, insira o nome.
                            </div>
                        </div>
                        
                        <div  class="form-floating mb-2"   >
                            <select class="form-control  "  {% if usuario.nivel_usuario == 1 %} disabled {% endif %} id="nivel_usuario" name="nivel_usuario"  >
                                <option value="0" >Selecione</option>{% if usuario.nivel_usuario != 1 %} 
                                <option value="1" {% if usuario.nivel_usuario == 1 %} selected {% endif %}>Administrador</option>
                                {% endif %}
                                <option value="2" {% if usuario.nivel_usuario == 2 %} selected {% endif %}>Gerente</option>
                                <option value="3" {% if usuario.nivel_usuario == 3 %} selected {% endif %}>Colaborador</option>
                            </select>
                        
                            <label for="nivel_usuario">Nível de Usuário:</label>
                        </div>
                    
                        <div class="form-floating mb-2">
                            <select class="form-control" id="status" name="status" {% if usuario.nivel_usuario == 1 %} disabled {% endif %}  value="{{ usuario.status_acesso }}">
                                <option value="Ativo"  >Ativo</option>
                                <option value="Bloqueado"  >Bloqueado</option>
                            </select>
                            <label for="status">Status:</label>
                        </div>
                     
                        <button type="button" class="btn mx-auto btn-sm btn-primary" onclick='ValidateInputs()'>
                            Editar 
                        </button>
                    </form>
                    
            </div>
        </div>
    </div>
</div>
<script >  
  
function ValidateInputs() {
    var nome_completo = document.getElementById('id_nome_completo');
    var nivel_usuario = document.getElementById('id_nivel_usuario');
    var email_responsavel = document.getElementById('id_email');
    var senha = document.getElementById('senha');

    // Remove as classes 'is-invalid' de todos os campos antes de fazer a validação
    nome_completo.classList.remove('is-invalid');
    nivel_usuario.classList.remove('is-invalid');
    email_responsavel.classList.remove('is-invalid');
    senha.classList.remove('is-invalid');

    // Verifica se os campos estão preenchidos corretamente
    if (email_responsavel.value === '') {
        email_responsavel.classList.add('is-invalid');
    }
    if (senha.value === '') {
        senha.classList.add('is-invalid');
    }

    if (nome_completo.value === "") {
        nome_completo.classList.add('is-invalid');
    }

    // Verifica se algum campo está com a classe 'is-invalid' e exibe uma mensagem de alerta se necessário
    var camposInvalidos = document.querySelectorAll('.is-invalid');
    if (camposInvalidos.length > 0) {
        alertCustomer('Por favor, preencha corretamente os campos.');
        return false;
    }

    // Se todos os campos estiverem preenchidos corretamente, envia o formulário
    document.getElementById('form_cadastro').submit();
    return true;
}
  
  </script>

{% endblock %}