{% extends 'base.html' %}

{% block title %}Lista de Usuários{% endblock %}

{% block content %}
{% include 'usuario/modal_usuario.html' %}
{% include 'configuracao/modal_configuracao.html' %}

<div class="my-3 container p-1">

    <div class="d-flex container justify-content-between mb-2 row container mx-auto p-1">
        <h1 class="text-start col" style="font-size: 1.0rem;"><i class="bi bi-people-fill"></i> Lista de Usuários</h1>
        <a href="{% url 'cadastrar_usuario' %}"  type="button"  id="btnCriar" class="btn btn-success btn-sm   col-auto  mx-auto me-sm-2" style="font-size: 0.8rem;"><i style="font-size: 0.8rem;" class="bi bi-file-earmark-plus me-1"></i> Cadastrar Usuário </a>
    </div>
    <div class="container p-3   mx-auto bg-dark rounded">
        <div class="table-responsive">
            <table class="table table-hover table-sm table-dark">
                <thead>
                    <tr class="font-monospace text-start" style="font-size: 0.8rem;">
                        <th scope="col">Responsavel</th>
                        <th scope="col" class="mx-auto text-center d-none d-sm-table-cell  ">Status</th>
                        <th scope="col" class="mx-auto text-center d-none d-sm-table-cell  ">Nivel usuario</th>
                        <th scope="col" class="text-end">Ações</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for usuario in usuarios %}
                    <tr class="font-monospace text-start" style="font-size: 0.8rem;">
                        <td scope="row">{{ usuario.nome_completo }}</td>
                        <td class="mx-auto text-center d-none d-sm-table-cell  ">
                            {% if usuario.status_acesso %}
                                Ativo
                            {% else %}
                                Desativado
                            {% endif %}
                        </td>
                        <td class="mx-auto text-center d-none d-sm-table-cell  ">
                            {% if usuario.nivel_usuario == 1 %}
                                Administrador 
                            {% elif usuario.nivel_usuario == 2 %}
                                Gerente
                            {% elif usuario.nivel_usuario == 3 %}
                                Colaborador
                            {% endif %}
                        </td>
                        <td class="text-end">
                            <div class="btn-group" role="group" aria-label="Ações do Usuário">
                                <a href="{% url 'detalhes_usuario' usuario.id_usuario %}" class="btn btn-success btn-sm" style="font-size: 0.8rem;">
                                    <i style="font-size: 0.8rem;" class="bi bi-eye me-1"></i>
                                </a>
                                <a href="{% url 'editar_usuario' usuario.id_usuario %}" class="btn btn-primary btn-sm">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                {% if usuario.nivel_usuario != 1 %}
                                    {% if usuario.status_acesso %}
                                        <a href="{% url 'bloquear_usuario' usuario.id_usuario %}" class="btn btn-warning btn-sm btn-confirmacao"
                                           data-acao="bloquear" 
                                           data-titulo="Bloquear Usuário" 
                                           data-descricao="Tem certeza de que deseja bloquear este usuário?">
                                            <i class="bi bi-lock"></i>
                                        </a>
                                    {% else %}
                                        <a href="{% url 'ativar_usuario' usuario.id_usuario %}" class="btn btn-success btn-sm btn-confirmacao" 
                                           data-acao="ativar" 
                                           data-titulo="Ativar Usuário" 
                                           data-descricao="Tem certeza de que deseja ativar este usuário?">
                                            <i class="bi bi-unlock"></i>
                                        </a>
                                    {% endif %}
                                    <a href="{% url 'configuracao_usuario' usuario.id_usuario %}" class="btn btn-secondary btn-sm">
                                        <i class="bi bi-gear-fill"></i>
                                    </a>
                                    <a href="{% url 'excluir_usuario' usuario.id_usuario %}" class="btn btn-danger btn-sm btn-confirmacao"
                                       data-acao="excluir" 
                                       data-titulo="Excluir Usuário" 
                                       data-descricao="Tem certeza de que deseja excluir este usuário?">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        
    </div>
</div>
    <script >
    {% if open_modal %}
        document.addEventListener('DOMContentLoaded', function() {
        var myModal = new bootstrap.Modal(document.getElementById('ModalUsuario'));
        myModal.show();
    });
    {% endif %}
    {% if open_modal_configuracao %}
    document.addEventListener('DOMContentLoaded', function() {
    var myModal = new bootstrap.Modal(document.getElementById('ModalConfiguracao'));
    myModal.show();
});
{% endif %}
</script>
{% endblock %}
