{% extends 'base.html' %}

{% block title %}Lista de Usuários{% endblock %}

{% block content %}
<div class="my-5 container-xl mx-auto ">
    <h2>Lista de Usuários</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nome Responsavel</th>
            <th scope="col">Status</th>
            <th scope="col">Nivel usuario</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for usuario in usuarios %}
        <tr>
            <th scope="row">  <strong> {{ usuario.nome_completo }}  </strong> </th>
            <td><strong>  {{ usuario.status_acesso }}</strong></p></td>
            <td><strong>
                {% if usuario.nivel_usuario == 1 %}
                Administrador 
                {% elif usuario.nivel_usuario == 2 %}
                Gerente
            {% elif usuario.nivel_usuario == 3 %}
                Colaborador
            {% endif %}</strong></td>
            <td> 
                <div class="btn-group" role="group" aria-label="Ações do Usuário">
                    <div class="btn-group" role="group" aria-label="Ações do Usuário">
                        <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='{% url 'editar_usuario' usuario.id_usuario %}'">
                            <i class="bi bi-pencil"></i> Editar
                        </button>
                        {% if usuario.nivel_usuario != 1 %}
                            <button type="button" class="btn btn-danger btn-sm" onclick="window.location.href='{% url 'excluir_usuario' usuario.id_usuario %}'">
                                <i class="bi bi-trash"></i> Excluir
                            </button>
                        {% if usuario.status_acesso == "Ativo"  %}
                            <button type="button" class="btn btn-warning btn-sm" onclick="window.location.href='{% url 'bloquear_usuario' usuario.id_usuario %}'">
                                <i class="bi bi-lock"></i> Bloquear
                            </button>
                        {% elif usuario.status_acesso == "Bloqueado" %}
                            <button type="button" class="btn btn-success btn-sm" onclick="window.location.href='{% url 'ativar_usuario' usuario.id_usuario %}'">
                                <i class="bi bi-unlock"></i> Ativar
                            </button>
                        {% endif %}
                        {% endif %}
                    </div>  </div>
                </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
        {% endblock %}
