{% extends 'base.html' %}

{% block title %}Lista de Usuários{% endblock %}

{% block content %}
<div class="my-5 container-xl mx-auto ">
    <div class="d-flex justify-content-between">
        <div>
            <h2>Lista de Usuários</h2>
        </div>
        <div class="d-flex align-items-center">
            <a href="{% url 'cadastrar_usuario' %}" class="btn text-secondary border-0" >
                Cadastrar Usuário 
                <i class="bi bi-plus pe-1 pt-2 d-inline-block" style="font-size: 1.3rem;"></i>
            </a>
        </div>
    </div>
    
    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nome Responsavel</th>
            <th scope="col">Status</th>
            <th scope="col">Nivel usuario</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for usuario in usuarios %}
        <tr>
            <th scope="row">  <strong> {{ usuario.nome_completo }}  </strong> </th>
            <td><strong>  
                
                {% if usuario.status_acesso %}
                    Ativo
                {% else %}
                    Desativado
                {% endif %}

            </strong></p></td>
            <td><strong>
                {% if usuario.nivel_usuario == 1 %}
                Administrador 
                {% elif usuario.nivel_usuario == 2 %}
                Gerente
            {% elif usuario.nivel_usuario == 3 %}
                Colaborador
            {% endif %}</strong></td>
            <td> 
                <div class="btn-group" role="group" aria-label="Ações do Usuário">
                    <div class="btn-group" role="group" aria-label="Ações do Usuário">
                        <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='{% url 'editar_usuario' usuario.id_usuario %}'">
                            <i class="bi bi-pencil"></i> Editar
                        </button>
                        {% if usuario.nivel_usuario != 1 %}
                        <a href="{% url 'excluir_usuario' usuario.id_usuario %}" class="btn btn-danger btn-sm">
                            <i class="bi bi-trash"></i> Excluir
                        </a>
                        {% if usuario.status_acesso %}
                            <a href="{% url 'bloquear_usuario' usuario.id_usuario %}" class="btn btn-warning btn-sm">
                                <i class="bi bi-lock"></i> Bloquear
                            </a>
                        {% else %}
                            <a href="{% url 'ativar_usuario' usuario.id_usuario %}" class="btn btn-success btn-sm">
                                <i class="bi bi-unlock"></i> Ativar
                            </a>
                        {% endif %}
                        {% endif %}
                    </div>  </div>
                </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
        {% endblock %}
