
{% block content %}
    <div class="modal fade" id="ModalUsuario" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog  modal-md modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title fw-bold font-monospace" id="lojaModalLabel" >
                    {% if text_usuario %} Detalhes do Usuário{% endif%}
                    {% if form_usuario %} Formulario do Usuário{% endif%}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body  font-monospace"   >
                    {% if text_usuario %} 
                        
                    {% endif%}
            

                    {% if form_usuario %}   
                    <form method="post" id="form_cadastro" class="needs-validation" novalidate>
                    {% csrf_token %}


                        <div class="form-floating mb-2">
                            {{ form_usuario.loja }}
                            <label for="id_loja" style="font-size: 0.8rem;">Loja:</label>
                        </div>
                    <div class="form-floating mb-2">
                        {{ form_usuario.nome }}
                        <label for="id_nome" style="font-size: 0.8rem;">Nome:</label>
                    </div>
                    <div class="form-floating mb-2">
                        {{ form_usuario.fabricante }}
                        <label for="id_fabricante" style="font-size: 0.8rem;">Fabricante:</label>
                    </div> 
                        <button type="submit" class="btn btn-primary mx-auto btn-md" >Salvar</button>
                    </form>
                    {% endif%}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
