
{% block content %}
    <div class="modal fade" id="ModalUsuario" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog  modal-md modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title fw-bold font-monospace" id="lojaModalLabel" >
                    {% if text_usuario %} Detalhes do Usuário{% endif%}
                    {% if form_usuario %} Formulario do Usuário{% endif%}
                </h5>
                </div>
                <div class="modal-body  font-monospace"   >
                    {% if text_usuario %} 
                        
                    {% endif%}
            

                    {% if form_usuario %}   
                    <form method="post" id="form_cadastro" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="form-floating mb-2">
                        {{ form_usuario.nome_completo }} 
                        <label for="nome_completo">Nome Responsável:</label>
                        <div class="invalid-feedback">
                            Por favor, insira o nome.
                        </div>
                    </div>
                    
                    <div class="form-floating mb-2">
                        {{ form_usuario.nivel_usuario }} 
                        <label for="id_nivel_usuario">Nível de Usuário:</label>
                    </div>
                
                    <div class="form-floating mb-2">
                        {{ form_usuario.status_acesso }}
                        <label for="id_status_acesso">Status:</label>
                    </div>
                
                    <div class="form-floating mb-2">
                        <input type="email" name="email" id="email_fake" class="hidden" autocomplete="off" style="display: none;">
                         {{form_usuario.email }}
                        <label for="email_responsavel">E-mail do Responsável</label>
                        <div class="invalid-feedback ms-2">Por favor, insira um Email válido.</div>
                    </div>
                
                    <div class="form-floating mb-2">
                        <input type="password" name="password" id="password_fake"  class="hidden" autocomplete="off" style="display: none;">
                         {{ form_usuario.senha }}  
                        <label for="senha">Senha</label>
                        <div class="invalid-feedback ms-2" id="senha-feedback"></div>
                    </div>
                    {% if form_loja %} 
                  
                        <div class="form-floating mb-2">
                            {{ form_loja.loja }}
                            <label for="id_loja" style="font-size: 0.8rem;">Loja:</label>
                        </div>  
                    {% endif%}

                        <div class="container">
                            <a href="{% url lista_usuario %}"  class="btn btn-secondary float-start me-auto btn-sm" >Cancelar</a>
                         <button type="submit" class="btn btn-primary float-end btn-md" >Salvar</button>
                        </div>  
                    </form>

<script >  

    document.addEventListener('DOMContentLoaded', function() {
        // Adiciona um listener para o evento 'submit' do formulário
        document.getElementById('form_cadastro').addEventListener('submit', function(event) {
            // Impede o envio padrão do formulário
            event.preventDefault();
    
            // Função para validar os campos
            function ValidateInputs() {
                var nome_completo = document.getElementById('id_nome_completo');
                var nivel_usuario = document.getElementById('id_nivel_usuario');
                var email_responsavel = document.getElementById('id_email');
                var senha = document.getElementById('id_senha');
    
                // Remove as classes 'is-invalid' de todos os campos antes de fazer a validação
                nome_completo.classList.remove('is-invalid');
                nivel_usuario.classList.remove('is-invalid');
                email_responsavel.classList.remove('is-invalid');
                senha.classList.remove('is-invalid');
    
                // Verifica se os campos estão preenchidos corretamente
                if (email_responsavel.value === '') {
                    email_responsavel.classList.add('is-invalid');
                } else {
                    // Verifica se o email é válido
                    var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                    if (!emailRegex.test(email_responsavel.value)) {
                        email_responsavel.classList.add('is-invalid');
                    }
                }
    
                if (senha.value === '') {
                    senha.classList.add('is-invalid');
                } else {
                    // Verifica a validade da senha
                    validarSenha(senha.value);
                }
    
                if (nivel_usuario.value === "0") {
                    nivel_usuario.classList.add('is-invalid');
                }
    
                // Verifica se algum campo está com a classe 'is-invalid' e exibe uma mensagem de alerta se necessário
                var camposInvalidos = document.querySelectorAll('.is-invalid');
                if (camposInvalidos.length > 0) {
                    alertCustomer('Por favor, preencha corretamente os campos.');
                    return false;
                }
    
                return true;
            }
    
            // Executa a validação dos campos
            if (ValidateInputs()) {
                // Se a validação passar, envia o formulário
                this.submit();
            } else {
                // Se a validação falhar, não envia o formulário
                return false;
            }
        });
    
        // Adiciona listener de blur para validação de email
        var emailInput = document.getElementById('id_email');
        emailInput.addEventListener('blur', function() {
            // Verifica se o email é válido
            var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (!emailRegex.test(this.value)) {
                this.classList.add('is-invalid');
            } else {
                this.classList.remove('is-invalid');
            }
        });
    
        // Função para validar a senha
        function validarSenha(senha) {
            var senhaInput = document.getElementById("id_senha");
            var senhaFeedback = document.getElementById("senha-feedback");
    
            if (senha.length < 8) {
                senhaFeedback.innerHTML = "A senha deve ter no mínimo 8 caracteres.";
                senhaInput.classList.add("is-invalid");
            } else if (!/[A-Z]/.test(senha)) {
                senhaFeedback.innerHTML = "A senha deve conter pelo menos uma letra maiúscula.";
                senhaInput.classList.add("is-invalid");
            } else if (!/[a-z]/.test(senha)) {
                senhaFeedback.innerHTML = "A senha deve conter pelo menos uma letra minúscula.";
                senhaInput.classList.add("is-invalid");
            } else if (!/[0-9]/.test(senha)) {
                senhaFeedback.innerHTML = "A senha deve conter pelo menos um número.";
                senhaInput.classList.add("is-invalid");
            } else {
                senhaFeedback.innerHTML = "";
                senhaInput.classList.remove("is-invalid");
            }
        }
    });
</script>    
                    {% endif%}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
