
{% block content %}
    <div class="modal fade" id="ModalUsuario"   data-bs-backdrop="static"  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog  modal-md modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title fw-bold font-monospace" id="lojaModalLabel" >
                    {% if text_usuario %} Detalhes do Usuário{% endif%}
                    {% if form_usuario %} Formulario do Usuário{% endif%}
                </h5>
                </div>
                    {% if text_usuario %} 
                   
                    <div class="modal-body font-monospace">
                        <h5 class="fw-bold">{{ text_usuario.nome_completo }}</h5>
                        <div class="card mt-3">
                            <div class="card-body">
                            <i class="bi bi-person"></i> ID do Usuário: <small class="fw-bold">{{ text_usuario.id_usuario }}</small></p>
                            <i class="bi bi-person-circle"></i> Nome do Usuário: <small class="fw-bold">{{ text_usuario.nome_usuario }}</small></p>
                            <i class="bi bi-envelope"></i>  Email: <small class="fw-bold">{{ text_usuario.email }}</small></p>
                            <!-- Adicione outros campos conforme necessário -->
                        </div>
                    </div>
                        <div class="card mt-3">
                            <div class="card-body">
                            <p class="fw-bold">  <i class="bi bi-calendar"></i> Inserção: <small class="fw-bold">{{ text_usuario.insert }}</small></p>
                            <p class="fw-bold">  <i class="bi bi-calendar"></i> Atualização: <small class="fw-bold">{{ text_usuario.update }}</small></p>
                              <p class="fw-bold"> 
                                <i class="bi bi-graph-up"></i> 
                                Nível do Usuário: 
                                <small class="fw-bold">
                                    {% if text_usuario.nivel_usuario == 1 %}
                                        Administrador
                                    {% elif text_usuario.nivel_usuario == 2 %}
                                        Gerente
                                    {% elif text_usuario.nivel_usuario == 3 %}
                                        Colaborador
                                    {% else %}
                                        Papel Desconhecido
                                    {% endif %}
                                </small>
                            </p>
                            <p class="fw-bold">
                                <i class=" bi-circle-fill  {% if text_usuario.status_acesso %}text-success{% else %}text-danger{% endif %}"></i> 
                                Status: <small class="fw-bold">{% if text_usuario.status_acesso %}Autorizado{% else %}Não Permitido{% endif %}</small>
                            </p>
                            
 
                            <p class="fw-bold"> <i class="bi bi-clock"></i> Último Login: <small class="fw-bold">{{ text_usuario.ultimo_login }} </small></p>
                        </div>
                    </div>
                    
                        {% for associado_info in associados_list %}
                        <div class="card mt-3">
                            <div class="card-body">
                                <p class="fw-bold"><i class="bi bi-shop"></i> {{ associado_info.nome }}</small></p>
                                <p class="fw-bold"> 
                                    <i class="{% if associado_info.status == 'Autorizado' %}text-success{% else %}text-danger{% endif %}  bi-circle-fill"></i> 
                                    Status: <small class="fw-bold">{{ associado_info.status }}</small>
                                </p>
                                 
                                    <p class="fw-bold"><i class="bi bi-clock"></i> Atualizado em: <small class="fw-bold">{{ associado_info.atualizado }}</small></p> 
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer ">
                        <a href="{% url 'listar_usuarios' %}" class="btn btn-secondary mx-auto btn-sm">Fechar</a>
        
                    </div>  
                {% endif%}
                {% if form_usuario %}   
                <div class="modal-body  font-monospace"   >

                <form method="post" id="form_cadastro" class="needs-validation" autocomplete="off" novalidate>
                
                    {% csrf_token %}
                    <div class="form-floating mb-2">
                        {{ form_usuario.nome_completo }} 
                        <label for="nome_completo">Nome Responsável:</label>
                        <div class="invalid-feedback ms-2">
                            insira o nome.
                        </div>
                    </div>
                {% if  not isEditar %} 
                    <div class="form-floating mb-2">
                        {{ form_usuario.nivel_usuario }} 
                        <label for="id_nivel_usuario">Nível de Usuário:</label>
                    </div>
                {% endif%}

                {% if form_usuario.nivel_usuario.value > 1 %} 
                    <div class="form-floating mb-2">
                        {{ form_usuario.nivel_usuario }} 
                        <label for="id_nivel_usuario">Nível de Usuário:</label>
                    </div>
                    <div class="form-floating mb-2">
                        {{ form_usuario.status_acesso }}
                        <label for="id_status_acesso">Status:</label>
                    </div>
                {% endif%}

                    {% if not isEditar  %} 
                    <div class="form-floating mb-2">
                         {{form_usuario.email }}
                        <label for="email_responsavel">E-mail do Responsável</label>
                        <div class="invalid-feedback ms-2">Por favor, insira um Email válido.</div>
                    </div>
                
                    <div class="form-floating mb-2">
                         {{ form_usuario.senha }}  
                        <label for="senha">Senha</label>
                        <div class="invalid-feedback ms-2" id="senha-feedback"></div>
                    </div>
                    {% endif%}
                    <div class="list-group">

                    {% for loja in list_lojas %}
                    <label class="list-group-item d-flex gap-2">
                        <input type="checkbox" name="status_acesso_{{ loja.id_loja }}" class="form-check-input -auto"   {% if loja.status_acesso == True    %}checked{% endif %}>
                        <span>
                            <p style="font-size: 0.8rem;" class="font-monospace p-0 m-0 fw-bold" >{{ loja.nome_loja }}</p>
                            <small style="font-size: 0.6rem;" class="d-block text-body-secondary">permitir o usuario ter acesso a essa loja, isso inclui, realizar vendas,acresentar produtos, entre outros</small>
                        </small></p>
                    </label>
                {% endfor %}
            </div>  
                        
 
                    
    {% if not isEditar  %} 

<script>   
    function validarEmail() {
                var email_responsavel = document.getElementById('id_email');
                var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                if (!emailRegex.test(email_responsavel.value)) {
                    email_responsavel.classList.add('is-invalid');
                } else {
                    email_responsavel.classList.remove('is-invalid');
                }
                }

                // Função para validar a senha
                function validarSenha(senha="") {
                    var senhaInput = document.getElementById("id_senha");
                    var senhaFeedback = document.getElementById("senha-feedback");
                    senha = senhaInput.value

                    if (senha.length < 8) {
                    senhaFeedback.innerHTML = "A senha deve ter no mínimo 8 caracteres.";
                    senhaInput.classList.add("is-invalid");
                    } else if (!/[A-Z]/.test(senha)) {
                    senhaFeedback.innerHTML = "A senha deve conter pelo menos uma letra maiúscula.";
                    senhaInput.classList.add("is-invalid");
                    } else if (!/[a-z]/.test(senha)) {
                    senhaFeedback.innerHTML = "A senha deve conter pelo menos uma letra minúscula.";
                    senhaInput.classList.add("is-invalid");
                    } else if (!/[0-9]/.test(senha)) {
                    senhaFeedback.innerHTML = "A senha deve conter pelo menos um número.";
                    senhaInput.classList.add("is-invalid");
                    } else {
                    senhaFeedback.innerHTML = "";
                    senhaInput.classList.remove("is-invalid");
                    }
                }
            </script>
    {% endif%}
        
<script>
    document.addEventListener('DOMContentLoaded', function() {

        document.getElementById('form_cadastro').addEventListener('submit', function(event) {
        // Impede o envio padrão do formulário
        event.preventDefault();
        
        // Função para validar os campos
        function ValidateInputs() {
            var nome_completo = document.getElementById('id_nome_completo');

    {% if form_usuario.nivel_usuario.value > 1 %} 
            var nivel_usuario = document.getElementById('id_nivel_usuario');
        {% endif%}    
    {% if not isEditar  %} 

            var email_responsavel = document.getElementById('id_email');
            var senha = document.getElementById('id_senha');
            email_responsavel.classList.remove('is-invalid');
            senha.classList.remove('is-invalid');
            var senhaFeedback = document.getElementById("senha-feedback");
            
            if (email_responsavel.value.trim() === '') {
                email_responsavel.classList.add('is-invalid');
            } else {
                var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                if (!emailRegex.test(email_responsavel.value)) {
                    email_responsavel.classList.add('is-invalid');
                }
            }
        
            if (senha.value.trim() === '') {
                senha.classList.add('is-invalid');
                senhaFeedback.innerHTML = "preencha corretamente o campo.";
                
            } else {
                validarSenha(senha.value);
            }
    {% endif%}
        
            // Remove as classes 'is-invalid' de todos os campos antes de fazer a validação
            nome_completo.classList.remove('is-invalid');
            {% if form_usuario.nivel_usuario.value > 1 %} 
                nivel_usuario.classList.remove('is-invalid');
            {% endif%}
                
            // Verifica se os campos estão preenchidos corretamente
             
            if (nome_completo.value.trim() === "") {
                nome_completo.classList.add('is-invalid');
            }
            var camposInvalidos = document.querySelectorAll('.is-invalid');
            if (camposInvalidos.length > 0) {
                alertCustomer('Por favor, preencha corretamente os campos.');
                return false;
            }
                return true;
            }
        
        // Executa a validação dos campos
        if (ValidateInputs()) {
            this.submit();
        } else {
            return false;
        }
        });
    });
</script>    
                </div>

            <div class="modal-footer ">
                <a href="{% url 'listar_usuarios' %}" class="btn btn-secondary float-start me-auto btn-sm">Cancelar</a>
             <button type="submit" class="btn btn-primary float-end btn-md" >Salvar</button>

            </div>  

        </form>
        </div>

                    {% endif%}

            </div>
        </div>
    </div>


{% endblock %}
