
{% block content %}
 
  
<!-- Modal -->
<div class="modal fade" id="ModalLoja" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  modal-md modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title fw-bold font-monospace" id="lojaModalLabel" >
            {% if loja %} Detalhes do Loja{% endif%}
            {% if form %} Formulario do Loja{% endif%}
        </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body fonrt-monospace">
            {% if loja %} 
            <div class="form-group">
                <label for="nome_loja" class="fw-bold">Nome da Loja</label>
                <span id="nome_loja">{{ loja.nome_loja }}</span>
              </div>
              <div class="form-group">
                <label  class="fw-bold" for="numero_telefone">Número Telefone:</label>
                <span id="numero_telefone">{{ loja.numero_telefone }}</span>
              </div>
              <div class="form-group">
                <label  class="fw-bold" for="horario_operacao">Horario de Operacao</label>
                <span id="horario_operacao">{{ loja.horario_operacao }}</span>
              </div>
              <hr /> 
              <div class="form-group">
                <label for="text_rua" class="fw-bold">Rua:</label>
                <span id="text_rua">{{ loja.endereco.rua }}</span>
              </div>
              <div class="form-group">
                <label  class="fw-bold" for="text_numero">Número:</label>
                <span id="text_numero">{{ loja.endereco.numero }}</span>
              </div>
              <div class="form-group">
                <label  class="fw-bold" for="text_codigo_postal">Código Postal:</label>
                <span id="text_codigo_postal">{{ loja.endereco.codigo_postal }}</span>
              </div>

              <div class="form-group">
                <label  class="fw-bold" for="text_cidade">Bairro:</label>
                <span id="text_cidade">{{ loja.endereco.bairro }}</span>
              </div>
              <div class="form-group">
                <label class="fw-bold"  for="text_cidade">Cidade:</label>
                <span id="text_cidade">{{ loja.endereco.cidade }}</span>
              </div>
              <div class="form-group">
                <label  class="fw-bold" for="text_estado">Estado:</label>
                <span id="text_estado">{{ loja.endereco.estado }}</span>
              </div>
              <div class="form-group">
                <label  class="fw-bold"  for="text_descricao">Descrição:</label>
                <span id="text_descricao">{{ loja.endereco.descricao }}</span>
              </div>
             
              {% endif%}
            {% if form %}   
            <form method="post" id="form_cadastro" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="form-floating mb-2 ">
                    {{ form.nome_loja }}
                    <label for="id_nome_loja">de um nome  para referenciar a loja:</label>
                </div>
                <div class="form-floating mb-2 ">
                    {{ form.rua }}
                    <label for="id_rua">Rua</label>
                    <div class="invalid-feedback">
                        {{ form.rua.errors }}
                    </div>
                </div>

                <div class="form-floating mb-2  ">
                  {{ form.codigo_postal }}
                  <label for="id_codigo_postal">Código Postal</label>
                  <div class="invalid-feedback">
                      {{ form.codigo_postal.errors }}
                  </div>
              </div>
              
              <div class="form-floating mb-2 ">
                  {{ form.rua }}
                  <label for="id_rua">Rua</label>
              </div>
              
              <div class="form-floating mb-2  ">
                  {{ form.numero }}
                  <label for="id_numero">Número</label>
              
              </div>
              
              <div class="form-floating mb-2  ">
                  {{ form.bairro }}
                  <label for="id_bairro">Bairro</label>
                
              </div>
              
              <div class="form-floating mb-2 {% if form.cidade.errors %}has-error{% endif %}">
                  {{ form.cidade }}
                  <label for="id_cidade">Cidade</label>
                  <div class="invalid-feedback">
                      {{ form.cidade.errors }}
                  </div>
              </div>
              
              <div class="form-floating mb-2  ">
                  {{ form.estado }}
                  <label for="id_estado">Estado</label>
                  
              </div>
              
              <div class="form-floating mb-2  ">
                  {{ form.descricao }}
                  <label for="id_descricao">Descrição</label>
              </div>
              
                <button type="submit" class="btn btn-primary mx-auto " onclick="validateForm();">Salvar</button>
            </form>
            {% endif%}
        </div>
      </div>
    </div>
  </div>
  
 
<script>

     
    
      function validateForm() {
        // Pega os valores dos campos
        var cep = document.getElementById("id_codigo_postal").value;
        var rua = document.getElementById("id_rua").value;
        var numero = document.getElementById("id_numero").value;
        var bairro = document.getElementById("id_bairro").value;
        var cidade = document.getElementById("id_cidade").value;
        var estado = document.getElementById("id_estado").value;
        var descricao = document.getElementById("id_descricao").value;
       // Variável para armazenar mensagens de erro
    var errorMessages = [];

    // Verifica se os campos obrigatórios estão preenchidos
    if (cep.trim() === '') {
        errorMessages.push('Por favor, preencha o campo Código Postal.');
    }
    if (rua.trim() === '') {
        errorMessages.push('Por favor, preencha o campo Rua.');
    }
    if (numero.trim() === '') {
        errorMessages.push('Por favor, preencha o campo Número.');
    }
    if (bairro.trim() === '') {
        errorMessages.push('Por favor, preencha o campo Bairro.');
    }
    if (cidade.trim() === '') {
        errorMessages.push('Por favor, preencha o campo Cidade.');
    }
    if (estado.trim() === '') {
        errorMessages.push('Por favor, preencha o campo Estado.');
    }

    // Exibe um único alerta contendo todas as mensagens de erro
    if (errorMessages.length > 0) {
        alertCustomer(errorMessages.join('\n'));
        event.preventDefault(); // Impede o envio do formulário
        return false;
    } else {
        document.getElementById('form_cadastro').submit();
        return true;
    }
    }
 
</script>

{% endblock %}
