<!-- templates/usuario/select_usuario.html -->
{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h2 class="text-light" >Detalhes do Usuário</h2>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ data.nome_completo }}</h5>
                <p class="card-text">
                    <strong>ID do Usuário:</strong> {{ data.id_usuario }}<br>
                    <strong>Nome do Usuário:</strong> {{ data.nome_usuario }}<br>
                    <strong>Email:</strong> {{ data.email }}<br>
                    <!-- Adicione outros campos conforme necessário -->
                </p>
            </div>
            <div class="card-footer text-muted">
                <strong>Data de Inserção:</strong> {{ data.data_insercao }}<br>
                <strong>Nível do Usuário:</strong> {{ data.nivel_usuario }}<br>
                <strong>Status:</strong> {{ data.status }}<br>
                <strong>Último Login:</strong> {{ data.ultimo_login }}<br>
            </div>
        </div>
    </div>
{% endblock %}
