{% extends 'base.html' %}

{% block title %}Gestão PDV{% endblock %}

{% block content %}
{% include 'pdv/modal_pdv.html' %}  
 
<div id="container_table">
  
<div class="container-xl bg-light mx-auto">
    <div class="d-flex  mt-3 mb-2 justify-content-between">
        <span   class=" font-montserrat fw-border my-auto" style="font-size: 1.0rem;">Pontos de Vendas</span>
        <button type="button" onclick="typeModal(1);" id="btnCriar" class="btn btn-success btn-sm" style="font-size: 0.8rem;"><i style="font-size: 0.8rem;" class="bi bi-plus me-1"></i>Cadastrar Ponto</a>
    </div>
</div> 

    <div class="container-xl p-3 my-3   mx-auto bg-dark rounded"  >
        <table class="table table-hover table-responsive table-sm table-dark">
            <thead>
                <tr>
                    <th scope="col" style="font-size:0.9rem" class="me-auto text-start">Loja</th>
                    <th scope="col" style="font-size:0.9rem" class="mx-auto text-center">Nome</th>
                    <th scope="col" class="mx-auto text-center d-none d-sm-table-cell order-1">Responsavel</th>
                    <th scope="col" class="ms-auto text-end">Ações</th>
                </tr>
            </thead>
            <tbody class="table-group-divider" id="tabela-caixa">
                
            </tbody>
        </table>
    </div>
</div> 
<script >
    let myModal;
    window.onload = function() {
        load_data();
    };
    function openModal() {
        if (!myModal) {
            myModal = new bootstrap.Modal(document.getElementById('ModalPvd'));

        }
        myModal.show();
    }
    
    function closeModal() {
        if (myModal) {
            myModal.hide();
            clearModalFields();

        } else {
            console.error('myModal não está definido.');
        }
    }
    
    function typeModal(value) {
        const modal = document.getElementById('ModalPvd');
        const modalLabel = modal.querySelector("#ModalLabel");
        const detalhes = modal.querySelector("#container-detalhes");
        const form = modal.querySelector("#container-form");
        iniciar_modal();
        switch (value) {
            case 1:
                modalLabel.innerText = "Criar PDV";
                detalhes.classList.add("d-none");
                form.classList.remove("d-none");
                openModal();
                break;
            case 2:
                modalLabel.innerText = "Detalhes do PDV";
                detalhes.classList.remove("d-none");
                form.classList.add("d-none");
                openModal();
                break;
            default:
                modalLabel.innerText = "Editar PDV";
                detalhes.classList.add("d-none");
                form.classList.remove("d-none");
                openModal();
                break;
        }
    }
 
     
 

    function load_data() {
        manageLoading(true, "container_table");
    
        // Array para armazenar as Promises das chamadas assíncronas
        const requests = [];
    
        // Chamar as funções assíncronas e armazenar as Promises
        requests.push(new Promise((resolve, reject) => {
            chamarFuncaoPython("pdv/lista", null, 'GET', function(response) {
                if (response.success === true) {
                    Utils.setLocalStorageItem('data_pdvs', response.data);
                    resolve();
                } else {
                    alertCustomer(response.message);
                    reject();
                }
            });
        })); 
        requests.push(new Promise((resolve, reject) => {
            chamarFuncaoPython("api_lojas", null, 'GET', function(response) {
                if (response.success === true) {
                    Utils.setLocalStorageItem('data_lojas', response.lojas);
                    resolve();
                } else {
                    alertCustomer(response.message);
                    reject();
                }
            });
        }));
    
        requests.push(new Promise((resolve, reject) => {
            chamarFuncaoPython("api_usuarios", null, 'GET', function(response) {
                if (response.success === true) {
                    Utils.setLocalStorageItem('data_usuarios', response.usuarios);
                    resolve();
                } else {
                    alertCustomer(response.message);
                    reject();
                }
            });
        }));
    
        requests.push(new Promise((resolve, reject) => {
            chamarFuncaoPython("associado_pdv", null, 'GET', function(response) {
                if (response.success === true) {
                    Utils.setLocalStorageItem('data_associados_pdv', response.data);
                    resolve();
                } else {
                    alertCustomer(response.message);
                    reject();
                }
            });
        }));
    
        // Aguardar até que todas as Promises sejam resolvidas ou rejeitadas
        Promise.all(requests)
            .then(() => {
                // Todas as chamadas assíncronas foram concluídas com sucesso
                    montarTabela();
                    manageLoading(false, "container_table");
            })
            .catch(() => {
                // Pelo menos uma chamada assíncrona falhou
                manageLoading(false, "container_table");
            });
    }

    function montarTabela() {
        const tabela = document.getElementById("tabela-caixa");
        tabela.innerHTML = ''; // Limpar a tabela antes de popular
    
        const data_pdvs = Utils.getLocalStorageItem('data_pdvs');
        const data_lojas = Utils.getLocalStorageItem('data_lojas');
        const data_associados = Utils.getLocalStorageItem('data_associados_pdv');
        const data_usuario = Utils.getLocalStorageItem('data_usuarios');
    
        data_pdvs.forEach(item => {
            const row = document.createElement("tr");
    
            // Coluna Loja
            const lojaCell = document.createElement("td");
            lojaCell.className = "text-start";
    
            // Encontrar o nome da loja usando o ID da loja
            const loja = data_lojas.find(loja => loja.id_loja === item.loja);
            lojaCell.innerText = loja ? loja.nome_loja : "Loja não encontrada";
            row.appendChild(lojaCell);
    
            // Coluna Nome
            const nomeCell = document.createElement("td");
            nomeCell.className = "text-center";
            nomeCell.innerText = item.nome;
            row.appendChild(nomeCell);
    
            // Coluna Responsável
            const responsavelCell = document.createElement("td");
            responsavelCell.className = "text-center d-none d-sm-table-cell order-1";
    
            const associado = data_associados.find(associado => associado.pdv === item.id_pdv);
            const usuario = data_usuario.find(usuario => usuario.id_usuario === associado.usuario && usuario.nivel_usuario > 2);
            const responsavelNome = associado && usuario ? usuario.nome_completo : "Usuário não encontrado";
            responsavelCell.innerText = responsavelNome;
            row.appendChild(responsavelCell);
            // Coluna Ações
            const acoesCell = document.createElement("td");
            acoesCell.className = "text-end";
            // Exemplo de ações - botão de visualizar
            const visualizarBtn = document.createElement("button");
            visualizarBtn.className = "btn btn-sm btn-primary";
            visualizarBtn.innerHTML = '<i class="bi bi-eye"></i>  ';
            visualizarBtn.onclick = function() {
                // Chame sua função de visualização aqui
                visualizarCliente(item.id);
            };
            // Exemplo de ações - botão de editar
            const editarBtn = document.createElement("button");
            editarBtn.className = "btn btn-sm btn-primary me-2";
            editarBtn.innerHTML = '<i class="bi bi-pencil"></i>  ';
            editarBtn.onclick = function() {
                // Chame sua função de edição aqui
                editarCliente(item.id);
            };
            acoesCell.appendChild(editarBtn);
    
            // Exemplo de ações - botão de excluir
            const excluirBtn = document.createElement("button");
            excluirBtn.className = "btn btn-sm btn-danger me-2";
            excluirBtn.innerHTML = '<i class="bi bi-trash"></i>  ';
            excluirBtn.onclick = function() {
                // Chame sua função de exclusão aqui
                excluirCliente(cliente.id);
            };
            acoesCell.appendChild(excluirBtn);
    
           
            acoesCell.appendChild(visualizarBtn);
    
            row.appendChild(acoesCell);
    
            tabela.appendChild(row);
        });
    }
</script>
{% endblock%}