{% extends 'base.html' %}

{% block title %}Gestão PDV{% endblock %}

{% block content %}
{% include 'pdv/modal_pdv.html' %}  
 
  
<div class="container  bg-light mx-auto">
    <div class="d-flex  mt-3 mb-2 justify-content-between">
        <span   class=" font-montserrat fw-border my-auto" style="font-size: 1.0rem;">Pontos de Vendas</span>
        <button type="button" onclick="typeModal(1);" id="btnCriar" class="btn btn-success btn-sm" style="font-size: 0.8rem;"><i style="font-size: 0.8rem;" class="bi bi-plus me-1"></i>Cadastrar Ponto</a>
    </div>
</div> 

<div class="container p-3 my-3   mx-auto bg-dark rounded" id="container-table">
    <table class="table table-hover table-responsive table-sm table-dark">
        <thead>
            <tr>
                <th scope="col" style="font-size:0.9rem" class="me-auto text-start">Loja</th>
                <th scope="col" style="font-size:0.9rem" class="mx-auto text-center">Nome</th>
                <th scope="col" class="mx-auto text-center d-none d-sm-table-cell order-1">Responsavel</th>
                <th scope="col" class="ms-auto text-end">Ações</th>
            </tr>
        </thead>
        <tbody class="table-group-divider" id="tabela-caixa">
            
        </tbody>
    </table>
</div>
</div> 
<script >
    let myModal;

    function openModal() {
        if (!myModal) {
            myModal = new bootstrap.Modal(document.getElementById('ModalPvd'));

        }
        myModal.show();
    }
    
    function closeModal() {
        if (myModal) {
            myModal.hide();
            clearModalFields();

        } else {
            console.error('myModal não está definido.');
        }
    }
    
    function typeModal(value) {
        const modal = document.getElementById('ModalPvd');
        const modalLabel = modal.querySelector("#ModalLabel");
        const detalhes = modal.querySelector("#container-detalhes");
        const form = modal.querySelector("#container-form");
        iniciar_modal();
        switch (value) {
            case 1:
                modalLabel.innerText = "Criar PDV";
                detalhes.classList.add("d-none");
                form.classList.remove("d-none");
                openModal();
                break;
            case 2:
                modalLabel.innerText = "Detalhes do PDV";
                detalhes.classList.remove("d-none");
                form.classList.add("d-none");
                openModal();
                break;
            default:
                modalLabel.innerText = "Editar PDV";
                detalhes.classList.add("d-none");
                form.classList.remove("d-none");
                openModal();
                preencherModal(value);
                break;
        }
    }

    function preencherModal(value) {
        manageLoading(true, "container-table");
        chamarFuncaoPython("pdv/lista", null, 'GET', function(response) {
            if (response.success === true) {
                Utils.setLocalStorageItem('data', response.data);
                montarTabela(response.data);
            } else {
                alertCustomer(response.message);
            }
            manageLoading(false, "container-table");
        });
    }   
     

    function clearModalFields() {
        // Limpar os campos de texto no container-detalhes
        document.getElementById("detalhes-nome").innerText = '';
        document.getElementById("detalhes-loja").innerText = '';
        document.getElementById("detalhes-insert").innerText = '';
        document.getElementById("detalhes-update").innerText = '';
        document.getElementById("detalhes-saldo_inicial").innerText = '';
        document.getElementById("detalhes-status_operacao").innerText = '';
    
        // Limpar os inputs no container-form
        document.getElementById("nome").value = '';
        document.getElementById("select_loja").value = '0';  // Assume que '0' é o valor padrão para "Selecione"
        document.getElementById("saldo_inicial").value = '';
        document.getElementById("status_operacao").value = '';  // Assume que '' é o valor padrão
    
        // Selecione todos os elementos de label e limpe seus textos
        let labels = document.querySelectorAll('#container-detalhes .form-label, #container-form .form-label');
        labels.forEach(label => {
            label.innerText = label.innerText.replace(/:.*$/, ':'); // Mantém o texto do label até o primeiro ':' (do ícone e o texto do label)
        });
    }
    function fillModalFields(tipo,data) {
        if(tipo==1){
        // Preencher os campos de texto no container-detalhes
        document.getElementById("detalhes-nome").innerText = data.nome || '';
        document.getElementById("detalhes-loja").innerText = data.loja || '';
        document.getElementById("detalhes-insert").innerText = data.insert || '';
        document.getElementById("detalhes-update").innerText = data.update || '';
        document.getElementById("detalhes-saldo_inicial").innerText = data.saldo_inicial || '';
        document.getElementById("detalhes-status_operacao").innerText = data.status_operacao || '';
        }else{
        // Preencher os inputs no container-form
        document.getElementById("nome").value = data.nome || '';
        document.getElementById("select_loja").value = data.loja || '0'; // Assume que '0' é o valor padrão para "Selecione"
        document.getElementById("saldo_inicial").value = data.saldo_inicial || '';
        document.getElementById("status_operacao").value = data.status_operacao || ''; // Assume que '' é o valor padrão
        }
        // Atualizar os textos dos labels com os dados do PDV
        let labels = document.querySelectorAll('#container-detalhes .form-label, #container-form .form-label');
        labels.forEach(label => {
            let labelText = label.innerText.replace(/:.*$/, ':');
            let fieldName = labelText.replace(/:$/, '').trim().toLowerCase(); // Remove ':' do final e converte para minúsculas
            if (fieldName in data) {
                label.innerText = labelText + ' ' + data[fieldName];
            }
        });
    }
    // Exemplo de chamada da função clearModalFields
    window.onload = function() {
        load_data();

    };

    function load_data() {
        manageLoading(true, "container-table");
        chamarFuncaoPython('pdv/lista', null, 'GET', function(response) {
            if (response.success === true) {
                Utils.setLocalStorageItem('data_pdvs', response.data);
                montarTabela(response.data);
            } else {
                alertCustomer(response.message);
            }
            manageLoading(false, "container-table");
        });
        chamarFuncaoPython("api_lojas", null, 'GET', function(response) {
            if (response.success === true) {
                Utils.setLocalStorageItem('data_lojas', response.lojas);
            } else {
                alertCustomer(response.message);
            }
        });

        chamarFuncaoPython("api_usuarios", null, 'GET', function(response) {
            if (response.success === true) {
                Utils.setLocalStorageItem('data_usuarios', response.usuarios);
            } else {
                alertCustomer(response.message);
            }
        });
    }   
    
    function montarTabela(data) {
        const tabela = document.getElementById("tabela-caixa");
        tabela.innerHTML = ''; // Limpar a tabela antes de popular

        data.forEach(cliente => {
            const row = document.createElement("tr");

            // Coluna Loja
            const lojaCell = document.createElement("td");
            lojaCell.className = "text-start";
            lojaCell.innerText = cliente.loja;
            row.appendChild(lojaCell);

            // Coluna Nome
            const nomeCell = document.createElement("td");
            nomeCell.className = "text-center";
            nomeCell.innerText = cliente.nome;
            row.appendChild(nomeCell);

            // Coluna Responsável
            const responsavelCell = document.createElement("td");
            responsavelCell.className = "text-center d-none d-sm-table-cell order-1";
            responsavelCell.innerText = cliente.responsavel;
            row.appendChild(responsavelCell);

            // Coluna Ações
            const acoesCell = document.createElement("td");
            acoesCell.className = "text-end";
            
            // Exemplo de ações - botão de editar
            const editarBtn = document.createElement("button");
            editarBtn.className = "btn btn-sm btn-primary";
            editarBtn.innerText = "Editar";
            editarBtn.onclick = function() {
                // Chame sua função de edição aqui
                editarCliente(cliente.id);
            };
            acoesCell.appendChild(editarBtn);

            // Exemplo de ações - botão de excluir
            const excluirBtn = document.createElement("button");
            excluirBtn.className = "btn btn-sm btn-danger ms-2";
            excluirBtn.innerText = "Excluir";
            excluirBtn.onclick = function() {
                // Chame sua função de exclusão aqui
                excluirCliente(cliente.id);
            };
            acoesCell.appendChild(excluirBtn);

            row.appendChild(acoesCell);

            tabela.appendChild(row);
        });
    } 
</script>
{% endblock%}