{% load static%}

{% block content %}
    <div class="modal fade" id="ModalPvd" data-bs-backdrop="static"   data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog  modal-md modal-fullscreen-sm-down modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fw-bold font-montserrat" id="ModalLabel" ></h5>
                </div>
                <div class="modal-body d-none py-2" id="container-detalhes">
                    <div class="mb-1 row">
                        <label class="col-auto col-form-label fw-bold  pe-1"><i class="bi-info-circle me-2 bi"></i>Nome do PDV:</label>
                        <div class="col ps-0">
                            <p id="detalhes-nome" class="form-control-plaintext"></p>
                        </div>
                    </div>
                    <div class="mb-1 row">
                        <label class="col-auto col-form-label fw-bold  pe-1"><i class="bi bi-shop-window me-2"></i>Loja:</label>
                        <div class="col ps-0">
                            <p id="detalhes-loja" class="form-control-plaintext"></p>
                        </div>
                    </div>
                    <div class="mb-1 row">
                        <label class="col-auto col-form-label fw-bold  pe-1"><i class="bi bi-person me-2"></i>Usuário Associado:</label>
                        <div class="col ps-0">
                            <p id="detalhes-responsavel" class="form-control-plaintext"></p>
                        </div>
                    </div>
                    <div class="mb-1 row">
                        <label class="col-auto col-form-label fw-bold  pe-1"><i class="bi bi-calendar-plus me-2"></i>Data de Inserção:</label>
                        <div class="col ps-0">
                            <p id="detalhes-insert" class="form-control-plaintext"></p>
                        </div>
                    </div>
                    <div class="mb-1 row">
                        <label class="col-auto col-form-label fw-bold  pe-1"><i class="bi bi-calendar-check me-2"></i>Data de Atualização:</label>
                        <div class="col ps-0">
                            <p id="detalhes-update" class="form-control-plaintext"></p>
                        </div>
                    </div>
                    <div class="mb-1 row">
                        <label class="col-auto col-form-label fw-bold  pe-1"><i class="bi bi-currency-dollar me-2"></i>Saldo Inicial:</label>
                        <div class="col ps-0">
                            <p id="detalhes-saldo_inicial" class="form-control-plaintext"></p>
                        </div>
                    </div>
                    <div class="mb-1 row">
                        <label class="col-auto col-form-label fw-bold  pe-1"><i class="bi bi-toggle-on me-2"></i>Status de Operação:</label>
                        <div class="col ps-0">
                            <p id="detalhes-status_operacao" class="form-control-plaintext"></p>
                        </div>
                    </div>
                </div>
                
                

                <div class="modal-body d-none " id="container-form">
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading" style="font-size:1.0rem;"><i class="bi me-2 bi-check-circle-fill"></i>Informações</h4>
                        <p class="text-dark" style="font-size:0.8rem;">Uma loja pode ter vários pontos de venda, conforme sua assinatura. Usuários colaboradores podem estar associados a apenas um ponto de venda, enquanto administradores têm acesso total aos recursos.</p>
                        <hr>
                        <p class="mb-0 text-dark"  style="font-size:0.8rem;">Para remover um colaborador de um ponto de venda, apague o nome do usuário. Para adicionar, selecione uma das opções exibidas. Um colaborador associado a uma loja não pode ser associado a um PDV de outra loja. Portanto, para associar um colaborador a um PDV, ele deve estar associado à mesma loja.</p>
                    </div>
                    
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="nome" name="nome"  >
                        <label for="nome">Nome do PDV</label>
                    </div>
                    <div class="form-floating mb-2">
                    <input type="text" class="form-control autocomplete_input"   id="select_loja" 
                    data-storage="data_lojas" data-key="id_loja" data-label="nome_loja" data-onselect="handleSelectLoja"  >
                        <label for="select_loja">Loja:</label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="text" class="form-control  "  id="select_usuario" 
                        data-storage="data_usuarios" data-label="nome_completo" data-key="id_usuario"  >
                        <label for="autocomplete_usuario">Usuario Associado</label>
                    </div>
                      
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control money-mask" id="saldo_inicial" value="100,00" name="saldo_inicial" >
                        <label for="saldo_inicial">Saldo Inicial</label>
                    </div>
                    <div class="form-floating mb-2">
                        <select class="form-select" id="status_operacao" name="status_operacao">
                            <option value="true">Aberto</option>
                            <option value="false" selected>Fechado</option>
                        </select>
                        <label for="status_operacao">Status atual de Operação</label>
                    </div>
                    <input type="hidden"   id="id_pdv" value="0"> 
  
                </div>  


                <div class="modal-footer ">
                            <button type="button" onclick="closeModal();"  class="btn btn-secondary float-start me-auto btn-sm">Fechar</a>
                        <button type="button" onclick="salvarPDV();" id="btn_salvar"   class="btn btn-primary  float-start ms-auto btn-sm btn_confirmacao d-none">salvar</a>

                </div>  
        </form>
    </div> 
 
    </div>
    </div>
    </div>
   
<script>
    
    document.getElementById('select_usuario').addEventListener('change', function() {
        if (this.value === "") {
            this.setAttribute("data-value", "");
        }
    });
    
    function iniciar_modal(action,id) {
    const modal = document.getElementById('ModalPvd');
    const modalLabel = modal.querySelector("#ModalLabel");
    const detalhes = modal.querySelector("#container-detalhes");
    const form = modal.querySelector("#container-form");
    const btn_salvar = modal.querySelector("#btn_salvar");

    // Desestruturar os valores passados como argumento
    

    switch (action) {
        case 1:
            modalLabel.innerText = "Criar PDV";
            detalhes.classList.add("d-none");
            form.classList.remove("d-none");
            btn_salvar.classList.remove("d-none");
            applyAutocomplete();
            document.getElementById("id_pdv").value="0";
            openModal();
            break;

        case 2:
            modalLabel.innerText = "Detalhes do PDV";
            detalhes.classList.remove("d-none");
            form.classList.add("d-none");
            btn_salvar.classList.add("d-none");
            fillModalFields(1,id);
            openModal();
            break;

        case 3:
            modalLabel.innerText = "Editar PDV";
            detalhes.classList.add("d-none");
            form.classList.remove("d-none");
            btn_salvar.classList.remove("d-none");
            applyAutocomplete();
            document.getElementById("id_pdv").value=id;

            fillModalFields(2,id);
            openModal();
            break;

        default:
            console.error("Ação inválida fornecida a iniciar_modal.");
    }
}

// Função para coletar os valores dos campos e criar o objeto de dados
function criarDadosParaPDV() {
    var nomePDV = $("#nome").val();
    var idLoja = $("#select_loja").attr("data-value");
    var idUsuario = $("#select_usuario").attr("data-value");
    var saldoInicial = $("#saldo_inicial").val();
    var statusOperacao = $("#status_operacao").val();

    // Verificar se todos os campos necessários estão preenchidos
    if (!nomePDV || !idLoja || !saldoInicial  ) {
        alertCustomer("Por favor, preencha todos os campos.");
        return null;
    }
    var id_pdv = $("#id_pdv").val();

    // Criar o objeto de dados
    var data = {
        nome: nomePDV,
        id_loja: idLoja,
        id_usuario: idUsuario,
        saldo_inicial: saldoInicial,
        status_operacao: statusOperacao === "true" ? true : false,
        id_pdv: id_pdv,
    };

    return data;
}

// Função para lidar com o clique no botão de salvar
function salvarPDV() {
    // Criar o objeto de dados
    var data = criarDadosParaPDV();
    // Verificar se o objeto de dados foi criado com sucesso
    if (data) {
        manageLoading(true,"container-form");
        // Chamar a função para enviar os dados
        if(data.id_pdv == 0){
            chamarFuncaoPython('pdv/create', data, 'POST', function(response) {
                if (response.success === true) {
                    // PDV criado com sucesso
                    alertCustomer("PDV criado com sucesso!",1);
                } else {
                    // Erro ao criar o PDV
                    alertCustomer("Erro ao criar o PDV.",2);
                }
            load_data();
            manageLoading(false,"container-form");
            closeModal();
        });

        }else{
            chamarFuncaoPython('pdv/update', data, 'PUT', function(response) {
                if (response.success === true) {
                    // PDV criado com sucesso
                    alertCustomer("PDV Editado com sucesso!",1);
                    
                } else {
                    // Erro ao criar o PDV
                    alertCustomer("Erro ao criar o PDV.",2);
                }
            load_data();
            manageLoading(false,"container-form");
            closeModal();
        });
        }

    }
}

function clearModalFields() {
    // Limpar os campos de texto no container-detalhes
    document.getElementById("detalhes-nome").innerText = '';
    document.getElementById("detalhes-loja").innerText = '';
    document.getElementById("detalhes-insert").innerText = '';
    document.getElementById("detalhes-update").innerText = '';
    document.getElementById("detalhes-saldo_inicial").innerText = '';
    document.getElementById("detalhes-status_operacao").innerText = '';

    // Limpar os inputs no container-form
    document.getElementById("nome").value = '';
    document.getElementById("select_loja").value = '';   
    document.getElementById("select_usuario").value = '';  
    document.getElementById("saldo_inicial").innerText = '100,00';
    document.getElementById("status_operacao").selectedLabel = 'false';   

    // Selecione todos os elementos de label e limpe seus textos
    let labels = document.querySelectorAll('#container-detalhes .form-label, #container-form .form-label');
    labels.forEach(label => {
        label.innerText = label.innerText.replace(/:.*$/, ':'); // Mantém o texto do label até o primeiro ':' (do ícone e o texto do label)
    });
}function fillModalFields(tipo, id_pdv) {
    // Função para recuperar dados do localStorage
    function getData(key) {
        return JSON.parse(localStorage.getItem(key));
    }

    // Recuperar dados do localStorage
    const data_pdvs = getData("data_pdvs");
    const data_associados_pdv = getData("data_associados_pdv");
    const data_lojas = getData("data_lojas");
    const data_usuarios = getData("data_usuarios");

    // Encontrar o PDV correspondente pelo id_pdv
    const pdv = data_pdvs.find(item => item.id_pdv === id_pdv);
    if (!pdv) {
        console.error("PDV não encontrado");
        return;
    }

    // Encontrar a loja correspondente ao PDV
    const loja = data_lojas.find(item => item.id_loja === pdv.loja);
    if (!loja) {
        console.error("Loja não encontrada");
        return;
    }

    // Encontrar os associados correspondentes ao PDV
    const associados = data_associados_pdv.filter(item => item.pdv === id_pdv);
    if (associados.length === 0) {
        console.error("Nenhum associado encontrado para este PDV");
        return;
    }

    // Filtrar os usuários correspondentes aos associados encontrados, com nível de usuário > 2
    const usuarios = associados.map(associado =>
        data_usuarios.find(usuario =>
            usuario.id_usuario === associado.usuario && usuario.nivel_usuario > 2
        )
    ).filter(usuario => usuario !== undefined);

    // Função para preencher campos de texto
    function setTextField(id, text) {
        document.getElementById(id).innerText = text || '';
    }

    // Função para preencher campos de input
    function setInputField(id, value) {
        document.getElementById(id).value = value || '';
    }

    // Preencher os campos de acordo com o tipo
    if (tipo == 1) {
        // Preencher os campos de texto no container-detalhes
        setTextField("detalhes-nome", pdv.nome);
        setTextField("detalhes-loja", loja.nome_loja);
        setTextField("detalhes-insert", pdv.insert);
        setTextField("detalhes-update", pdv.update);
        setTextField("detalhes-saldo_inicial", pdv.saldo_inicial);
        setTextField("detalhes-status_operacao", pdv.status_operacao ? 'Ativo' : 'Inativo');
        setTextField("detalhes-responsavel", usuarios[0]?.nome_completo || 'Usuário não encontrado');
    } else {
        // Preencher os inputs no container-form
        setInputField("nome", pdv.nome);
        setInputField("select_loja", loja.nome_loja);
        $("#select_loja").attr("data-value", loja.id_loja);
        setInputField("select_usuario", usuarios[0]?.nome_completo || '');
        $("#select_usuario").attr("data-value", usuarios[0]?.id);
        setInputField("saldo_inicial", pdv.saldo_inicial || '100,00');
        document.getElementById("status_operacao").selectedLabel = pdv.status_operacao ? 'Aberto' : 'Fechado';
        handleSelectLoja(loja.id_loja);
    }
}

// Aplicar o autocomplete automaticamente ao carregar a página
function handleSelectLoja(selectedId) {
    var data_lojas = localStorage.getItem("data_lojas");
    var data_usuarios = localStorage.getItem("data_usuarios");
    var sugestoes = [];

    // Parse dos dados de lojas e usuários
    var lojas = JSON.parse(data_lojas);
    var usuarios = JSON.parse(data_usuarios);

    // Iterar sobre as lojas
    lojas.forEach(function(loja) {
        // Verificar se a loja selecionada corresponde ao id da loja atual
        if (loja.id_loja == selectedId) {
            // Iterar sobre os associados da loja
            loja.associados.forEach(function(associado) {
                // Verificar se o associado possui status_acesso: true
                if (associado.status_acesso) {
                    // Encontrar o objeto de usuário correspondente
                    var usuario = usuarios.find(function(usuario) {
                        return usuario.id_usuario == associado.usuario.id_usuario  && usuario.nivel_usuario > 2;
                    });
                    // Adicionar o usuário à lista de sugestões
                    if (usuario) {
                        sugestoes.push({ label: usuario.nome_completo, id: usuario.id_usuario });
                    }
                }
            });
        }
    });
   // Atualizar o autocomplete do campo select_usuario com as novas sugestões
   $("#select_usuario").autocomplete({
    source: sugestoes,
    select: function(event, ui) {
        var selectedId = ui.item.id;
        var selectedLabel = ui.item.label;

        // Mudar o valor do input para o label do item selecionado
        $("#select_usuario").val(selectedLabel);
        // Armazenar o id do item selecionado no atributo data-value
        $("#select_usuario").attr("data-value", selectedId);

        var onSelectConfig = $("#select_usuario").data("onselect"); // Configuração de seleção
        if (onSelectConfig) {
            var onSelectParams = onSelectConfig.split(","); // Dividindo a configuração
            var onSelectFunction = window[onSelectParams[0]]; // Função de seleção
            if (typeof onSelectFunction === "function") {
                onSelectFunction(selectedId); // Chamando a função de seleção com o valor relevante
            }
        }

        return false; // Evitar que o valor padrão do label seja inserido no input
    }
});
} 
</script>
{% endblock %}
