{% extends 'base.html' %}
{% block title %}Cadastro{% endblock %}

{% block content %}
    

<form   class="form-signin   container mx-auto ">

  <div class="px-sm-2 p-4 my-2 modal modal-signin position-static d-block  align-items-center     ">
    <div class="modal-dialog m-0 m-sm-auto   " role="document">
        <div class="modal-content   mb-2 bg-body rounded-3 border " id="container_cadastro">
                <div class="modal-header  ">
                    <div class="d-flex align-items-center">
                      <i  width="32" height="32" class="bi mb-1 bi-person" ></i>
                            <h1 class=" text-center mb-1 ms-2 fw-normal small  text-dark   mx-auto  fs-5 text-black"  id="label_title" >Cadastro Empresa</h1>
                    </div> 
                  </div>
                <div class="modal-body " id="container_empresa">
                  <div class="form-floating mb-2">
                    <input type="text" class="form-control" id="nome_empresa" name="nome_empresa"  >
                    <label for="nome_empresa">Nome da Empresa</label>
                </div>
                <div class="form-floating mb-2">
                  <input type="text" class="form-control cnpj-mask" id="nro_cnpj" name="nro_cnpj">
                  <label for="nro_cnpj">Número do CNPJ</label>
                  <div class="invalid-feedback">Por favor, insira um CNPJ válido.</div>
              </div>
              <div class="form-floating mb-2">
                  <input type="text" class="form-control" id="razao_social_empresa" name="razao_social_empresa"  >
                  <label for="razao_social_empresa">Razão Social da Empresa</label>
              </div>
            </div>


      <div class="modal-body d-none" id="container_responsavel">
        <div class="form-floating mb-2">
          <input type="text" class="form-control" id="nome_responsavel" name="nome_responsavel"  >
          <label for="nome_responsavel">Nome do Responsável</label>
        </div>
        <div class="form-floating mb-2">
            <input type="text" class="form-control" id="cargo_responsavel" name="cargo_responsavel"  >
            <label for="cargo_responsavel">Cargo do Responsável</label>
        </div>
        <div class="form-floating mb-2">
            <input type="email" class="form-control" id="email_responsavel" name="email_responsavel"  >
              <label for="email_responsavel">E-mail do Responsável</label>
            <div class="invalid-feedback">Por favor, insira um Email válido.</div>
        </div>
        <div class="form-floating mb-2">
            <input type="text" class="form-control telefone-mask" id="telefone_responsavel" name="telefone_responsavel"  >
            <label for="telefone_responsavel">Telefone do Responsável</label>
        </div>
        <div class="form-floating mb-2">
            <input type="text" class="form-control cpf-mask" id="nro_cpf" name="nro_cpf">
            <label for="nro_cpf">Número do CPF</label>
            <div class="invalid-feedback">Por favor, insira um CPF válido.</div>
        </div>
        <div class="form-floating mb-2">
            <input type="password" class="form-control" id="senha" name="senha" oninput="validarSenha()">
            <label for="senha">Senha</label>
            <div class="invalid-feedback" id="senha-feedback"></div>
          </div>
      </div>
    <div class="modal-body d-none" id="container_conclusao">
      <div class="text-center">
        <p class="font-monospace  fw-bold">Não há produtos retonaveis nessa venda.</p>
    </div>
    <div class="text-center">
        <img src="/assents/img/undraw/undraw_welcome_cats_thqn.svg" class="img-fluid col-10" style="max-width: 300px; max-height: 300px;">
        </div>
        </div>
    </div>

    <div class="  modal-footer d-flex justify-content-center">
      <button onclick="voltar_modal();"  id="btn_voltar" type="button"  class="btn btn-secondary btn-md d-none me-auto">Voltar</button>

      <button onclick="alter_modal(1);" id="btn_salvar"  type="button" class="btn btn-primary btn-md">Proximo</button>
    </div>
          </div>
        </div>
    </div>
</div> 
    </form>
 
<script>
  function voltar_modal( ) {
    document.getElementById("label_title").innerText = "Cadastro Empresa";
    document.getElementById("container_responsavel").classList.add("d-none");
    document.getElementById("container_empresa").classList.remove("d-none");
    document.getElementById("btn_salvar").innerText = "Próximo";
    document.getElementById("btn_voltar").classList.add("d-none");
    
    document.getElementById("btn_salvar").onclick = function() {
      alter_modal(1);
    };
  }
  function alter_modal(value) {
    if (value === 1) {
      if (validateContainer1()) {
        document.getElementById("label_title").innerText = "Cadastro Responsavel";
        document.getElementById("container_empresa").classList.add("d-none");
        document.getElementById("btn_voltar").classList.remove("d-none");
        document.getElementById("container_responsavel").classList.remove("d-none");
        document.getElementById("btn_salvar").innerText = "Finalizar";
        document.getElementById("btn_salvar").onclick = function() {
          alter_modal(2);
        };
      }
    } 
    else if (value === 2) {
        if(validateContainer2()) {
          data =getDataFromForm();
          status = insert(data);
          if (status){
              document.getElementById("container_responsavel").classList.add("d-none");
              document.getElementById("container_conclusao").classList.remove("d-none");
              document.getElementById("label_title").innerText = "Cadastro Concluído";
              document.getElementById("btn_salvar").onclick = function() {
                window.location.href =  "/vendas/"; 
              };
          }
        }
      }
  }
  function insert(data) {
        manageLoading(true, "container_cadastro");
        chamarFuncaoPython('api_cadastro_clientes', data, 'POST', function(response) {
            if (response.success === true) {
               return true
            } else {
                alertCustomer(response.message);
            }
            manageLoading(false, "container_cadastro");
        });
    }

    window.onload = function() {
    document.getElementById("container_cadastro").addEventListener("keypress", function(event) {
        if (event.key === "Enter") {
            // Impedir o envio padrão do formulário
            event.preventDefault();
            // Encontrar e clicar no botão "Proximo" dentro do container1
            document.getElementById("btn_salvar").click();
        }
    });
};

// Função para obter os dados do formulário
function getDataFromForm() {
  const data = {};

  // Campos do formulário da empresa
  data.nome_empresa = document.getElementById('nome_empresa').value;
  data.nro_cnpj = document.getElementById('nro_cnpj').value;
  data.razao_social_empresa = document.getElementById('razao_social_empresa').value;

  // Campos do formulário do responsável
  data.nome_responsavel = document.getElementById('nome_responsavel').value;
  data.cargo_responsavel = document.getElementById('cargo_responsavel').value;
  data.email_responsavel = document.getElementById('email_responsavel').value;
  data.telefone_responsavel = document.getElementById('telefone_responsavel').value;
  data.nro_cpf = document.getElementById('nro_cpf').value;
  data.senha = document.getElementById('senha').value;

  return data;
}

// Função para limpar o formulário
function clearForm() {
  // Limpar campos do formulário da empresa
  document.getElementById('nome_empresa').value = '';
  document.getElementById('nro_cnpj').value = '';
  document.getElementById('razao_social_empresa').value = '';

  // Limpar campos do formulário do responsável
  document.getElementById('nome_responsavel').value = '';
  document.getElementById('cargo_responsavel').value = '';
  document.getElementById('email_responsavel').value = '';
  document.getElementById('telefone_responsavel').value = '';
  document.getElementById('nro_cpf').value = '';
  document.getElementById('senha').value = '';

  // Limpar feedbacks de validação, se houver
  const invalidFeedback = document.querySelectorAll('.invalid-feedback');
  invalidFeedback.forEach(feedback => {
      feedback.textContent = '';
  });
}

  var cnpjInput = document.getElementById('nro_cnpj');

  // Adiciona um listener para o evento de mudança (blur)
  cnpjInput.addEventListener('blur', function() {
      // Pega o valor do campo de CNPJ
      var cnpj = cnpjInput.value.replace(/\D/g, '');

      // Expressão regular para validar o formato do CNPJ
      var cnpjRegex = /^\d{14}$/;
      return true
      // Verifica se o CNPJ corresponde à expressão regular
      if (!cnpjRegex.test(cnpj) || !validarCnpj(cnpj)) {
          // Adiciona a classe 'is-invalid' para sinalizar erro de validação
          cnpjInput.classList.add('is-invalid');
      } else {
          // Remove a classe 'is-invalid' se o CNPJ for válido
          cnpjInput.classList.remove('is-invalid');

      }
  }); 
  // Função para validar os campos do primeiro container
  function validateContainer1() {
    var razao_social_empresa = document.getElementById('razao_social_empresa').value.trim(); 
    var nome_empresa = document.getElementById('nome_empresa').value.trim(); 
    var nro_cnpj = document.getElementById('nro_cnpj').value.trim();

    
    // Verifica se os campos estão preenchidos
    if(cnpjInput.classList.contains("is-invalid")){
      alertCustomer('Por favor, preencha corretamente o campo CNPJ para prosseguir',2);
      return false;
    }else if (nome_empresa === '' || nro_cnpj === '' || razao_social_empresa === '') {
      alertCustomer('Por favor, preencha todos os campos do primeiro container antes de prosseguir.',2);
      return false;
    }
    
    Utils.clean_alert();
    return true;
  }
  
  // Função para validar os campos do segundo container
  function validateContainer2() {
    var email_responsavel = document.getElementById('email_responsavel').value.trim(); 
    var nome_responsavel = document.getElementById('nome_responsavel').value.trim();
    var cargo_responsavel = document.getElementById('cargo_responsavel').value.trim();
    var telefone_responsavel = document.getElementById('telefone_responsavel').value.trim();
    var senha = document.getElementById('senha');

    if(senha.classList.contains("is-invalid")) {
      alertCustomer('campo senha está invalido.',2);
      return false;
    }
    if (senha.value == '' || senha.value == null){
      alertCustomer('campo senha está vazio',2);
      return false;
    }
   var cpfInput = document.getElementById('nro_cpf');
   var email_responsavel =   document.getElementById('email_responsavel');
    // Verifica se os campos estão preenchidos
    if(email_responsavel.classList.contains("is-invalid") || cpfInput.classList.contains("is-invalid")){
      alertCustomer('Por favor, preencha corretamente os campos',2);
      return false;
    }
    else
    if (nome_responsavel === '' || cargo_responsavel === '' || email_responsavel === '' || telefone_responsavel === '') {
      alertCustomer('Por favor, preencha todos os campos  antes de prosseguir.',2);
      return false;
    }else{
     // document.getElementById('form_cadastro').submit();
      Utils.clean_alert();
      return true;
  }
}

function ValidateInputs(){
   var cpfInput = document.getElementById('nro_cpf');
   var email_responsavel =   document.getElementById('email_responsavel');
  email_responsavel.addEventListener('blur', function() {
    // Pega o valor do campo de e-mail
    var email = email_responsavel.value;

    // Expressão regular para validar o formato do e-mail
    var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

    // Verifica se o e-mail corresponde à expressão regular
    if (!emailRegex.test(email)) {
        // Adiciona a classe 'is-invalid' para sinalizar erro de validação
        email_responsavel.classList.add('is-invalid');
    } else {
        // Remove a classe 'is-invalid' se o e-mail for válido
        email_responsavel.classList.remove('is-invalid');
    }
});
   // Seleciona o campo de CPF

   // Adiciona um listener para o evento de mudança (blur)
   cpfInput.addEventListener('blur', function() {
       // Pega o valor do campo de CPF
       var cpf = cpfInput.value.replace(/\D/g, '');

       // Verifica se o CPF é válido
       if (!validarCpf(cpf)) {
           // Adiciona a classe 'is-invalid' para sinalizar erro de validação
           cpfInput.classList.add('is-invalid');
       } else {
           // Remove a classe 'is-invalid' se o CPF for válido
           cpfInput.classList.remove('is-invalid');
       }
   });

}

 // Função para validar o CNPJ
 function validarCnpj(cnpj) {
  cnpj = cnpj.replace(/[^\d]+/g,'');

  if(cnpj == '') return false;

  if (cnpj.length != 14)
      return false;

  // Elimina CNPJs inválidos conhecidos
  if (cnpj == "00000000000000" || 
      cnpj == "11111111111111" || 
      cnpj == "22222222222222" || 
      cnpj == "33333333333333" || 
      cnpj == "44444444444444" || 
      cnpj == "55555555555555" || 
      cnpj == "66666666666666" || 
      cnpj == "77777777777777" || 
      cnpj == "88888888888888" || 
      cnpj == "99999999999999")
      return false;

  // Valida DVs
  tamanho = cnpj.length - 2
  numeros = cnpj.substring(0,tamanho);
  digitos = cnpj.substring(tamanho);
  soma = 0;
  pos = tamanho - 7;
  for (i = tamanho; i >= 1; i--) {
    soma += numeros.charAt(tamanho - i) * pos--;
    if (pos < 2)
          pos = 9;
  }
  resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
  if (resultado != digitos.charAt(0))
      return false;

  tamanho = tamanho + 1;
  numeros = cnpj.substring(0,tamanho);
  soma = 0;
  pos = tamanho - 7;
  for (i = tamanho; i >= 1; i--) {
    soma += numeros.charAt(tamanho - i) * pos--;
    if (pos < 2)
          pos = 9;
  }
  resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
  if (resultado != digitos.charAt(1))
        return false;
        
  return true;
}

 // Função para validar o CPF
 function validarCpf(cpf) {
  cpf = cpf.replace(/[^\d]+/g,'');

  if(cpf == '') return false;

  // Elimina CPFs inválidos conhecidos
  if (cpf.length != 11 || 
      cpf == "00000000000" || 
      cpf == "11111111111" || 
      cpf == "22222222222" || 
      cpf == "33333333333" || 
      cpf == "44444444444" || 
      cpf == "55555555555" || 
      cpf == "66666666666" || 
      cpf == "77777777777" || 
      cpf == "88888888888" || 
      cpf == "99999999999")
      return false;

  // Valida 1o digito
  add = 0;
  for (i=0; i < 9; i ++)
      add += parseInt(cpf.charAt(i)) * (10 - i);
  rev = 11 - (add % 11);
  if (rev == 10 || rev == 11)
      rev = 0;
  if (rev != parseInt(cpf.charAt(9)))
      return false;

  // Valida 2o digito
  add = 0;
  for (i = 0; i < 10; i ++)
      add += parseInt(cpf.charAt(i)) * (11 - i);
  rev = 11 - (add % 11);
  if (rev == 10 || rev == 11)
      rev = 0;
  if (rev != parseInt(cpf.charAt(10)))
      return false;
  return true;
}
function validarSenha() {
  var senhaInput = document.getElementById("senha");
  var senha = senhaInput.value;
  var senhaFeedback = document.getElementById("senha-feedback");

  // Lógica de validação da senha
  if (senha.length < 8) {
      senhaFeedback.innerHTML = "A senha deve ter no mínimo 8 caracteres.";
      senhaInput.classList.add("is-invalid");
  } else if (!/[A-Z]/.test(senha)) {
      senhaFeedback.innerHTML = "A senha deve conter pelo menos uma letra maiúscula.";
      senhaInput.classList.add("is-invalid");
  } else if (!/[a-z]/.test(senha)) {
      senhaFeedback.innerHTML = "A senha deve conter pelo menos uma letra minúscula.";
      senhaInput.classList.add("is-invalid");
  } else if (!/[0-9]/.test(senha)) {
      senhaFeedback.innerHTML = "A senha deve conter pelo menos um número.";
      senhaInput.classList.add("is-invalid");
  } else {
      senhaFeedback.innerHTML = "";
      senhaInput.classList.remove("is-invalid");
  }
}

</script>
{% endblock %}