{% extends 'base.html' %}

{% block title %}Inicio {% endblock %}

{% block content %}
<div class=" featurette text-dark my-5 container mx-auto">
  <div class="col-md-10  mx-auto">
    <h2 class="featurette-heading   lh-1"><span class="font-monospace fs-1 text-dark Font-Gliker fw-bold " style=" letter-spacing: 1px;font-size:1rem">O Poder da Simplicidade na Palma da Sua Mão</span></h2>
    <hr class="featurette-divider">
    <p class="lead text-dark" style="font-size:1rem">
      Solutions Management Water,
       sua solução completa para otimizar a gestão da sua distribuidora de água. Estamos aqui para facilitar o dia a dia do seu negócio, oferecendo ferramentas poderosas para gerenciar pedidos, controlar estoques, acompanhar vendas e muito mais.
      
       </p>
  </div> 
</div>


<div
 style="background-image: url('/assents/img/biblioteca/pexels-mikael-blomkvist-6476590.jpg');
            background-size: cover; 
            background-position: center; 
            position: relative;
            overflow: hidden;
            height: 300px;"
            class="p-5 text-white text-center">
     <div  class="align-items-center" style="position: absolute; top: 0; 
     left: 0; width: 100%; height: 100%;
      background-color: rgba(0, 0, 0, 0.7); backdrop-filter: blur(3px);">

      <div class="container  text-white text-center  py-5"  >
            <h1 class=" text-white" style="font-size:1.9rem">Mais do que Software, Uma Experiência de Controle</h1>
            <p class="col-lg-8 mx-auto  text-white lead" style="font-size:1rem">
              Solutions Management Water, sua solução completa para otimizar a gestão da sua distribuidora de água. Estamos aqui para facilitar o dia a dia do seu negócio, oferecendo ferramentas poderosas para gerenciar pedidos, controlar estoques, acompanhar vendas e muito mais. </p>
         </div>
     </div>
</div>
 

     <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
       <h1 class="display-4 fw-normal text-dark">Planos</h1>
       <p class="fs-5 text-dark">Sua distribuidora, seu controle. Descubra a transformação que podemos trazer para a gestão do seu negócio hoje.     </p>
     </div>
  
     <div class="container-xl container-lg mx-auto row row-cols-1 row-cols-md-3 mb-3 text-center">
       <div class="col px-1">
         <div class="card mb-4 rounded-3 shadow-sm">
           <div class="card-header py-3">
             <h4 class="my-0 fw-normal">Plano Essencial</h4>
           </div>
           <div class="card-body">
             <h1 class="card-title pricing-card-title">R$ 0<small class="text-body-secondary fw-light">/mês</small></h1>
             <ul class="list-unstyled mt-3 mb-4">
               <li>Até 2 usuarios</li>
               <li>Suporte online </li>
               <li>Até uma loja</li>
               <li>Registro básico de vendas</li>
             </ul>
             <button type="button" class="w-100 btn btn-lg btn-outline-primary">Cadastre-se</button>
           </div>
         </div>
       </div>
       <div class="col px-1">
         <div class="card mb-4 rounded-3 shadow-sm">
           <div class="card-header py-3">
             <h4 class="my-0 fw-normal">Plano Intermediário</h4>
           </div>
           <div class="card-body">
             <h1 class="card-title pricing-card-title">R$ 100,00<small class="text-body-secondary fw-light">/mês</small></h1>
             <ul class="list-unstyled mt-3 mb-4">
               <li>Relatorio personalizado</li>
               <li>Até 5 Usuarios</li>
               <li>Até 5 ou mais  Lojas</li>
               <li>Suporte Priorizado</li>
             </ul>
             <button type="button" class="w-100 btn btn-lg btn-primary">Comece Agora</button>
           </div>
         </div>
       </div>
       <div class="col px-1">
         <div class="card mb-4 rounded-3 shadow-sm border-primary">
           <div class="card-header py-3 text-bg-primary border-primary">
             <h4 class="my-0 fw-normal">Plano Premium</h4>
           </div>
           <div class="card-body">
             <h1 class="card-title pricing-card-title">R$ 300,00<small class="text-body-secondary fw-light">/mês</small></h1>
             <ul class="list-unstyled mt-3 mb-4">
               <li>Até 10 ou mais Usuarios</li>
               <li>Até 5 ou mais  Lojas</li>
               <li>Software personalizado</li>
               <li>Treinamento personalizado</li>
             </ul>
             <button type="button" class="w-100 btn btn-lg btn-primary">Entre em Contato</button>
           </div>
         </div>
       </div>
     </div>
     <div class="  rounded-3 col-11 col-sm-12  bg-white container-xl mx-3  mx-auto   ">
 
     <h2 class="display-5 text-center pt-3 pb-4 font-monospace  fw-bolder">Comparativo</h2>
 
     <div class="table-responsive rounded-3   ">
       <table class="table text-center">
         <thead>
           <tr>
             <th style="width: 34%;"></th>
             <th style="width: 22%;">Essencial</th>
             <th style="width: 22%;">Intermediário</th>
             <th style="width: 22%;">Premium</th>
           </tr>
         </thead>
         <tbody>
           <tr  clas="row d-flex container">
             <th scope="row"  class=" col-6 text-start">Gestão de usuarios</th>
             <td ><i  width="24" height="24" class="bi bi-check" ></i> </td>
             <td ><i  width="24" height="24" class="bi bi-check" ></i> </td>
             <td ><i  width="24" height="24" class="bi bi-check" ></i> </td>
           </tr>
           <tr>
             <th scope="row" class="text-start">Gestão de Lojas</th>
             <td><i  width="24" height="24" class="bi bi-check" ></i> </td>
             <td><i  width="24" height="24" class="bi bi-check" ></i> </td>
             <td><i  width="24" height="24" class="bi bi-check" ></i> </td>
           </tr>
         </tbody>
 
         <tbody>
           
           <tr>
             <th scope="row" class="text-start">Gestão de produtos</th>
             <td><i  width="24" height="24" class="bi bi-check" ></i> </td>
             <td><i  width="24" height="24" class="bi bi-check" ></i> </td>
             <td><i  width="24" height="24" class="bi bi-check" ></i> </td>
           </tr>
           <tr>
             <th scope="row" class="text-start">Getão de clientes</th>
             <td><i  width="24" height="24" class="bi bi-check" ></i> </td>
             <td><i  width="24" height="24" class="bi bi-check" ></i> </td>
             <td><i  width="24" height="24" class="bi bi-check" ></i> </td>
           </tr> <tr>
            <th scope="row" class="text-start">Suporte técnico prioritário</th>
            <td></td>
            <td><i  width="24" height="24" class="bi bi-check" ></i> </td>
            <td><i  width="24" height="24" class="bi bi-check" ></i> </td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Treinamento personalizado</th>
            <td></td>
            <td><i  width="24" height="24" class="bi bi-check" ></i> </td>
            <td><i  width="24" height="24" class="bi bi-check" ></i> </td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Relatorio personalizado</th>
            <td></td>
            <td><i  width="24" height="24" class="bi bi-check" ></i> </td>
            <td><i  width="24" height="24" class="bi bi-check" ></i> </td>
          </tr>
          
           <tr>
            <th scope="row" class="text-start">Customização personalizado</th>
            <td></td>
            <td> </td>
            <td><i  width="24" height="24" class="bi bi-check" ></i> </td>
          </tr> 
         </tbody>
       </table>
     </div>
    </div>
 
    <hr class="featurette-divider"> 
 
     {% endblock %}