<!-- criar_endereco.html -->

{% extends 'base.html' %}
{% block title %}Cadastrar Endereço{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" id="form_cadastro_endereco" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="form-floating mb-2">
                    {{ form.codigo_postal }}
                    <label for="id_codigo_postal">Código Postal</label>
                    <div class="invalid-feedback">
                        {{ form.codigo_postal.errors }}
                    </div>
                </div>
                <div class="form-floating mb-2">
                    {{ form.rua }}
                    <label for="id_rua">Rua</label>
                    <div class="invalid-feedback">
                        {{ form.rua.errors }}
                    </div>
                </div>
                
                <div class="form-floating mb-2">
                    {{ form.numero }}
                    <label for="id_numero">Número</label>
                    <div class="invalid-feedback">
                        {{ form.numero.errors }}
                    </div>
                </div>
                
                <div class="form-floating mb-2 " disabled >
                    {{ form.cidade }}
                    <label for="id_cidade">Cidade</label>
                    <div class="invalid-feedback">
                        {{ form.cidade.errors }}
                    </div>
                </div>
                
                <div class="form-floating mb-2" disabled  >
                    {{ form.estado }}
                    <label for="id_estado">Estado</label>
                    <div class="invalid-feedback">
                        {{ form.estado.errors }}
                    </div>
                </div>
                
              
                
                <div class="form-floating mb-2">
                    {{ form.descricao }}
                    <label for="id_descricao">Descrição</label>
                    <div class="invalid-feedback">
                        {{ form.descricao.errors }}
                    </div>
                </div>
                
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
        </div>
    </div>
</div>
<script>
    // Função para buscar o endereço com base no CEP
    function buscarEnderecoPorCEP() {
        // Pega o valor do campo de CEP
        var cep = document.getElementById("id_codigo_postal").value;
        
        // Verifica se o CEP tem o formato correto (apenas dígitos)
        var cepRegex = /^[0-9]{8}$/;
        if (cepRegex.test(cep)) {
            // Faz a requisição para o serviço que retorna os detalhes do endereço
            fetch('https://viacep.com.br/ws/' + cep + '/json/')
            .then(response => response.json())
            .then(data => {
                // Preenche os campos do formulário com os dados do endereço
                document.getElementById("id_rua").value = data.logradouro;
                document.getElementById("id_cidade").value = data.localidade;
                document.getElementById("id_estado").value = data.uf;
                document.getElementById("id_numero").focus(); // Muda o foco para o campo de número
            })
            .catch(error => {
                console.error('Erro ao buscar endereço:', error);
            });
        } else {
            alertCustomer('CEP inválido. Por favor, insira um CEP válido.');
        }
    }
    
    // Adiciona um event listener para chamar a função ao sair do campo de CEP
    document.getElementById("id_codigo_postal").addEventListener("blur", buscarEnderecoPorCEP);
</script>

{% endblock %}
