{% extends 'base.html' %}
{% block title %}Configurações{% endblock %}

{% block content %} 


<div class="container mx-auto mt-5">
    <!-- Menu List -->
    <div class="card mx-auto aling-item-center bg-dark text-light shadow" id="menu_list" style="width: 28rem;">
        <div class="card-header">
            <span class="text-light font-montserrat fw-bord my-auto" style="font-size: 1.2rem;">Configurações</span>
        </div>
        <ul class="list-group list-group-flush text-light">
            <li class="list-group-item list-group-item-action" id="list-personalizacao-list" data-toggle="tab" href="#list-personalizacao-content" role="tab">Personalização</li>
            <!-- Adicione outros itens da lista conforme necessário -->
            <li class="list-group-item list-group-item-action" href="{% url 'desconect' %}">
                <i class="bi bi-person-x"></i> Desconectar
            </li>
        </ul>
    </div>

    <!-- Tab Content -->
    <div class="container d-none tab-content card mx-auto aling-item-center bg-dark text-light shadow py-2" id="nav-tabContent"  style="width: 38rem;">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-light font-montserrat fw-bord my-auto " id="valor_container" style="font-size: 1.5rem;"> </span>

            <div class="ms-auto   text-light " id="back_to_menu">
                <i class="bi bi-arrow-left-circle" style="font-size: 1.5rem;"></i>
            </div>
        </div>
        <div class="tab-pane fade" id="list-personalizacao-content" role="tabpanel" aria-labelledby="list-personalizacao-list">
            
            
        <div class="alert alert-success text-dark" role="alert">
            <h4 class="alert-heading" style="font-size:1.0rem"><i class="bi me-2 bi-check-circle-fill"></i> Informações</h4>
            <p class="text-dark" style="font-size:0.8rem">Esse campo melhora no desenpenho, na recuperacao de informações, definindo um loja padrão, voce nao precisará recuperar o valor quando for realizar uma venda, ou abrir um ponto de venda.</p>
            <hr class="my-2">
            <p class="mb-0 text-dark small"></p>
        </div> 
        <div class="  form-floating mb-2  ">
            <select name="loja" class="form-select select_lojas"  id="select_loja">
                 <option value="0">Selecione</option>
             </select>
            <label for="select_loja" class="fw-bold">Loja:</label>
        </div>

        <div class="  form-floating mb-2  ">
            <select name="loja" class="form-select select_pdv"  id="select_pdv">
                 <option value="0">Selecione</option>
             </select>
            <label for="select_pdv" class="fw-bold">ponto de Venda:</label>
        </div> 

        </div>
        <!-- Adicione outras divs de conteúdo de abas conforme necessário -->
    </div>
</div>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const menuList = document.getElementById('menu_list');
            const containerPai = document.getElementById('nav-tabContent');
            const tabContents = containerPai.children;
            const backToMenuButton = document.getElementById('back_to_menu');
            const tabTitle = document.getElementById('valor_container');
    
            document.querySelectorAll('[data-toggle="tab"]').forEach(tabToggle => {
                tabToggle.addEventListener('click', function (event) {
                    event.preventDefault();
                    const targetId = this.getAttribute('href').substring(1);
                    Array.from(tabContents).forEach(tabContent => {
                        if (tabContent.id === targetId) {
                            containerPai.classList.remove('d-none');
                            tabContent.classList.add('show', 'active');
                            menuList.classList.add('d-none');
                            tabTitle.textContent = this.textContent.trim();  // Atualiza o título com o texto do item de lista
                        } else {
                            tabContent.classList.remove('show', 'active');
                        }
                    });
                });
            });
    
            backToMenuButton.addEventListener('click', function () {
                Array.from(tabContents).forEach(tabContent => {
                    tabContent.classList.remove('show', 'active');
                });
                containerPai.classList.add('d-none');
                menuList.classList.remove('d-none');
                tabTitle.textContent = 'Personalização';  // Restaura o título padrão ao voltar para o menu
            });
        });




window.onload = function() {
    load_data();
};
function load_data() {
   
    // Array para armazenar as Promises das chamadas assíncronas
    const requests = [];

    // Chamar as funções assíncronas e armazenar as Promises
    requests.push(new Promise((resolve, reject) => {
        chamarFuncaoPython("pdv/lista", null, 'GET', function(response) {
            if (response.success === true) {
                Utils.setLocalStorageItem('data_pdvs', response.data);
                resolve();
            } else {
                alertCustomer(response.message);
                reject();
            }
        });
    })); 
    requests.push(new Promise((resolve, reject) => {
        chamarFuncaoPython("api_lojas", null, 'GET', function(response) {
            if (response.success === true) {
                Utils.setLocalStorageItem('data_lojas', response.lojas);
                atualizarDropdownLojas(response.lojas)
                  resolve();
            } else {
                alertCustomer(response.message);
                reject();
            }
        });
    }));

    requests.push(new Promise((resolve, reject) => {
        chamarFuncaoPython("api_usuarios", null, 'GET', function(response) {
            if (response.success === true) {
                Utils.setLocalStorageItem('data_usuarios', response.usuarios);
                resolve();
            } else {
                alertCustomer(response.message);
                reject();
            }
        });
    }));

    requests.push(new Promise((resolve, reject) => {
        chamarFuncaoPython("associado_pdv", null, 'GET', function(response) {
            if (response.success === true) {
                Utils.setLocalStorageItem('data_associados_pdv', response.data);
                resolve();
            } else {
                alertCustomer(response.message);
                reject();
            }
        });
    }));

    // Aguardar até que todas as Promises sejam resolvidas ou rejeitadas
    Promise.all(requests)
        .then(() => {
            // Todas as chamadas assíncronas foram concluídas com sucesso
                
        })
        .catch(() => {
            // Pelo menos uma chamada assíncrona falhou
    });
}
// Função para atualizar o dropdown com as lojas
function atualizarDropdownLojas(list_lojas) {
    // Seleciona todos os elementos select com a classe especificada
    const selects = document.querySelectorAll('.select_lojas');

    // Itera sobre cada select encontrado
    selects.forEach(function(select) {
        // Limpa as opções existentes
        select.innerHTML = '';

        // Adiciona a opção padrão, se houver mais de uma loja na lista
        if (list_lojas.length > 1) {
            const optionDefault = document.createElement('option');
            optionDefault.value = '0';
            optionDefault.textContent = 'Selecione';
            select.appendChild(optionDefault);
        }

        // Adiciona as opções de lojas
        list_lojas.forEach(function(loja) {
            const option = document.createElement('option');
            option.value = loja.id_loja;
            option.textContent = loja.nome_loja;
            select.appendChild(option);
        });
    });
} 
</script>
 
{% endblock %}