{% load static%}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} {% endblock %} { cps } </title>
    <link rel="icon" href="{% static 'img/logo/3.png' %}" type="image/png" sizes="16x16" />
    
    <link rel="stylesheet" href="{% static 'css/Global.css' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% include 'modal.html' %} 

        
        {{ alerta_js|safe }}
</head>
<body class="  container-fluid m-0 p-0 wrapper  bg-light " background="#f5f7fa">
      <div  class="wrapper"> 
    <div  class="content">
        <nav class="  navbar-expand-md navbar-dark p-2 " style="background: var(--tema-blue)">
            <div class="    mx-auto container-xl  row">
                <div class=" col-12 container  justify-content-between row align-items-center ">
                    <a class="col  text-sm-center text-start text-decoration-none  " href="{% url 'home' %}">
                        <p class="logo-siglas mb-2   text-white" style="font-size: 30px;"></p>
                    </a>
                    <button class=" btn text-white col-auto d-inline-flex ms-auto d-sm-none" type="button" onclick="toggleMenu()">
                        <span class=" bi bi-list" id="menuIcon" style="font-size: 30px;"></span>
                    </button>
                </div>
                <div class="col-12  d-sm-block d-none" id="navbarNav">
                     
                        {% if request.session.isCliente is not True %}
                        <ul class=" text-center text-white my-2 row mx-auto mx-sm-0 col-auto container-xl font-monospace text-center text-sm-end  justify-content-center align-items-center " >

                        <li class="  text-sm-end text-center d-inline-flex col-auto ">
                            <a class="nav-link  text-decoration-underline" href="{% url 'home' %}">Início</a>
                        </li>
                        <li class="   text-center d-inline-flex col-auto">
                            <a class="nav-link  text-decoration-underline" href="{% url 'sobre' %}">Sobre nós</a>
                        </li>
                        <li class="  text-center d-inline-flex col-auto ">
                            <a type="button" id="btn-login-nav" href="{% url 'login' %}" class="btn text-white login-btn px-0">
                                <span class="login-icon">
                                    <i class="bi bi-person"></i>
                                </span>
                               <span class=" text-decoration-underline"> Login</span>
                            </a>
                        </li>
                    </ul>


                            {% elif request.session.nivel_usuario <= 2 %}
                        <ul class=" text-white my-2 row mx-auto mx-sm-0 col-auto container-xl font-monospace text-center   justify-content-center align-items-center  "  >

                        <div class="container">
                            <div class=" row  justify-content-evenly">
                            <li class="  d-inline-flex col-auto">
                            <a class="nav-link" href="{% url 'dashbord' %}">
                                <i class="bi bi-speedometer2"></i> Início</a>
                        </li>
                        
                        <li class="  d-inline-flex col-auto">
                            <a class="nav-link nav-link-icon" href="{% url 'listar_usuarios' %}">
                                <i class="bi bi-people"></i> Usuários
                            </a>
                        </li>
                        <li class="  d-inline-flex col-auto">
                            <a class="nav-link nav-link-icon" href="{% url 'lista_lojas' %}">
                                <i class="bi bi-shop"></i> Lojas
                            </a>
                        </li>
                    </div>

                        <div class="row  justify-content-evenly ">

                        <li class="  d-inline-flex col-auto ">
                            <a class="nav-link nav-link-icon" href="{% url 'lista_enderecos' %}">
                                <i class="bi bi-geo-alt"></i> Endereços
                            </a>
                        </li>
                         
                        <li class="  d-inline-flex col-auto">
                            <a class="nav-link nav-link-icon" href="{% url 'lista_produtos' %}">
                                <i class="bi bi-cart4"></i> Produtos
                            </a>
                        </li>
                    </div>

                        <div class=" row  justify-content-evenly">

                        <li class="  d-inline-flex col-auto">
                            <a class="nav-link nav-link-icon" href="{% url 'lista_vendas' %}">
                                <i class="bi bi-cash"></i> Venda
                            </a>
                        </li>
                        <li class="  d-inline-flex col-auto">
                            <a class="nav-link nav-link-icon" href="{% url 'lista_clientes' %}">
                                <i class="bi bi-person-check"></i> Clientes
                            </a>
                        </li>
                      
                        <li class="  d-inline-flex col-auto">
                            <a class="nav-link nav-link-icon" href="{% url 'desconect' %}">
                                <i class="bi bi-box-arrow-right"></i> Desconectar
                            </a>
                        </li>
                    </div>
                </div>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        

        <div id="content"  >
        
 
{% block content %}



{% endblock %}

        </div>
    </div>
</div> 

<div class="custom-shape-divider-bottom-1708368458 mt-3" style="margin-bottom:-2px">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
    </svg>
</div>
    <footer class="footer "  style="background:var(--tema-blue)">
 
        <div class="container"  >
            <div class="row  text-center">
                <div class="col-12">
                    <p class="footer-title m-1  d-inline-flex border-bottom text-white">Páginas</p>
                    <ul class="list-unstyled footer-links m-0">
                        <li><a href="{% url 'home' %}" class="text-secondary    text-decoration-none">Home</a></li>
                        <li><a href="{% url 'sobre'%}" class="text-secondary   text-decoration-none">Sobre-nós</a></li>
                        <li><a href="{% url 'login' %}" class="text-secondary     text-decoration-none">Login</a></li>
                        <li><a href="{% url 'cadastro' %}" class="text-secondary  text-decoration-none">Cadastre-se</a></li>
                    </ul>
                </div> 
                <a class="navbar-brand col-12   btn-sm " href="../home">
                    <p class="logo-siglas mb-2 text-white" style="font-size:30px;"></p>
                    </a>
            </div>
        </div>
        <div class="col-10 col-flex-inline redound p-0  text-center mb-auto full-width   mx-auto  ">
            <p class="m-0 p-0  bg-white rounded  text-black" style="font-size:0.8rem"> Software Desenvolvido por 
                <a class="text-decoration-none  text-black " href="https://samuelmedeirosportfolio.azurewebsites.net" target="_blank">@Samuel Medeiros</a>.</p>
        </div>
    </footer>
    </div>


<script>
    function toggleMenu() {
        var menu = document.getElementById('navbarNav');
        var icon = document.getElementById('menuIcon');
        if (menu.classList.contains('d-none')) {
            menu.classList.remove('d-none');
            icon.classList.remove('bi-list');
            icon.classList.add('bi-x');
        } else {
            menu.classList.add('d-none');
            icon.classList.remove('bi-x');
            icon.classList.add('bi-list');
        }
    }
    </script>
    <style>
        /* Largura da barra de rolagem */
        ::-webkit-scrollbar {
          width: 08px;
      }
      
      /* Track (a trilha da barra de rolagem) */
      ::-webkit-scrollbar-track {
          background: #f1f1f1; /* Cor de fundo */
      }
      
      /* Thumb (o "botão" da barra de rolagem) */
      ::-webkit-scrollbar-thumb {
          background: #2f2f34; /* Cor de fundo do botão */
          border-radius: 5px; /* Cantos arredondados */
      }
      
      /* On hover, adiciona cor à thumb */
      ::-webkit-scrollbar-thumb:hover {
          background: #555; /* Cor de fundo ao passar o mouse */
      }
    </style>

    

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.6.4.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/jquery-mask.js' %}" ></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script type="text/javascript" src="{% static 'js/Global.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/utils.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/FunctionsMotoboy.js' %}" ></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
<!-- Link para o Font Awesome CDN -->
</body>
</html>
