{% load static%}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} {% endblock %} { SMW } </title>
    <link rel="icon" href="{% static 'img/logo/3.png' %}" type="image/png" sizes="16x16" />
    
    <link rel="stylesheet" href="{% static 'css/Global.css' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% include 'modal.html' %} 
    
        {{ alerta_js|safe }}
</head>
<body class="bg-whiter container-fluid m-0 p-0 wrapper   ">
      <div  class="wrapper"> 
    <div  class="content">
          
        <nav class="navbar container-fluid navbar-expand-md navbar-dark p-2 shadow  " style="background:var(--tema-blue)">
            <div class="container">
 
                <a class="navbar-brand text-start  link-sm " href="{% url 'home' %}" >
                    <p class="logo-siglas mb-2 text-white" style="font-size:30px;"></p>
                    </a>
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="navbarTogglerButton">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav  ms-auto text-sm-center  font-monospace">
                     
        {% if request.session.isCliente is not True %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">inicio</a>
                </li> <li class="nav-item">
                    <a class="nav-link" href="{% url 'sobre' %}">Sobre-ńós</a>
                </li>
                <li class="nav-item">

                <a type="button" id="btn-login-nav" href="/login" class="btn text-white login-btn">
                    <span class="login-icon"  >
                        <i class="bi bi-person"  style="with:100; height=:100" ></i> 
                    </span>
                    Login 
                </a>
            </li>
        {% elif request.session.nivel_usuario <= 2 %} 
             <li class="nav-item">
                            <a class="nav-link" href="{% url 'homeAssinante' %}">inicio</a>
                        </li>
                        {% if request.session.nivel_usuario == 1 %}
                        <li class="nav-item dropdown">
                            <div class="btn-group"> 
                                <a class="nav-link" href="{% url 'listar_usuarios' %}">Usuários</a>
                            <button type="button" class="nav-link   dropdown-toggle dropdown-toggle-split d-none d-md-block" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="visually-hidden">Toggle Dropdown</span>
                              </button>
                            <ul class="dropdown-menu bd-dark" aria-labelledby="usuariosDropdown">
                                <li><a class="dropdown-item" href="{% url 'listar_usuarios' %}">Listar Usuários</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'cadastrar_usuario' %}">Cadastrar Usuário</a></li>
                            </ul>
    </div>

                        </li>

                        <li class="nav-item dropdown">
                            <div class="btn-group">
                                <a class="nav-link" href="{% url 'lista_lojas' %}">Lojas</a>
                            <button type="button" class="nav-link   dropdown-toggle dropdown-toggle-split d-none d-md-block" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu bd-dark" aria-labelledby="usuariosDropdown">
                                <li><a class="dropdown-item" href="{% url 'lista_lojas' %}">Listar Lojas</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'criar_loja' %}">Cadastrar loja</a></li>
                            </ul>
                            </div>
                        </li>
                       
                        <li class="nav-item dropdown">
                            <div class="btn-group">
                                <a class="nav-link" href="{% url 'lista_enderecos' %}">Endereços</a>
                            <button type="button" class="nav-link   dropdown-toggle dropdown-toggle-split d-none d-md-block" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu bd-dark" aria-labelledby="usuariosDropdown">
                                <li><a class="dropdown-item" href="{% url 'lista_enderecos' %}">Listar Endereços</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'criar_endereco' %}">Cadastrar Endereços</a></li>
                            </ul>
                            </div>
                        </li>
                    {% endif %} 

                        <li class="nav-item">
                            <div class="btn-group">
                            
                            <a class="nav-link" href="{% url 'lista_produtos' %}">Produtos</a>
                            <button type="button" class="nav-link   dropdown-toggle dropdown-toggle-split d-none d-md-block" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu bd-dark" aria-labelledby="usuariosDropdown">
                                <li><a class="dropdown-item" href="{% url 'lista_produtos' %}">Listar Produtos</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'criar_produto' %}">Cadastrar Produtos</a></li>
                            </ul>
                            </div>
                            
                        </li>
                        <li class="nav-item">
                            <div class="btn-group">
                            
                            <a class="nav-link" href="{% url 'lista_vendas' %}">Venda</a>
                                <button type="button" class="nav-link   dropdown-toggle dropdown-toggle-split d-none d-md-block" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu bd-dark" aria-labelledby="usuariosDropdown">
                                    <li><a class="dropdown-item" href="{% url 'lista_vendas' %}">Listar Vendas</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'criar_venda' %}">Cadastrar Venda</a></li>
                                </ul>
                                </div>
                             </li>
                        <li class="nav-item">
                            <div class="btn-group">
                                <a class="nav-link" href="{% url 'lista_clientes' %}">Clientes</a>
                            
                                    <button type="button" class="nav-link   dropdown-toggle dropdown-toggle-split d-none d-md-block" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="visually-hidden">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu bd-dark" aria-labelledby="usuariosDropdown">
                                        <li><a class="dropdown-item" href="{% url 'lista_clientes' %}">Listar Clientes</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{% url 'criar_cliente' %}">Cadastrar Clientes</a></li>
                                    </ul>
                                    </div>
                        </li>
                        <li class="nav-item">
                            <div class="btn-group">
                                <a class="nav-link" href="{% url 'lista_galoes' %}">Galões</a>
                            
                                    <button type="button" class="nav-link   dropdown-toggle dropdown-toggle-split d-none d-md-block" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="visually-hidden">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu bd-dark" aria-labelledby="usuariosDropdown">
                                        <li><a class="dropdown-item" href="{% url 'lista_galoes' %}">Listar Galões</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{% url 'criar_galao' %}">Cadastrar Galões</a></li>
                                    </ul>
                                    </div>
                        </li>
        {% endif %} 
    </ul>
    </div>
    </div>
    </nav> 


        <div id="content"  >
        
 
{% block content %}



{% endblock %}

        </div>
    </div>
</div> 

<div class="custom-shape-divider-bottom-1708368458 mt-3" style="margin-bottom:-2px">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
    </svg>
</div>
    <footer class="footer "  style="background:var(--tema-blue)">
 
        <div class="container"  >
            <div class="row  text-center">
                <div class="col-12">
                    <p class="footer-title m-1  d-inline-flex border-bottom text-white">Páginas</p>
                    <ul class="list-unstyled footer-links m-0">
                        <li><a href="{% url 'home' %}" class="text-secondary    text-decoration-none">Home</a></li>
                        <li><a href="{% url 'sobre'%}" class="text-secondary   text-decoration-none">Sobre-nós</a></li>
                        <li><a href="{% url 'login' %}" class="text-secondary     text-decoration-none">Login</a></li>
                        <li><a href="{% url 'cadastro' %}" class="text-secondary  text-decoration-none">Cadastre-se</a></li>
                    </ul>
                </div> 
                <a class="navbar-brand col-12   btn-sm " href="../home">
                    <p class="logo-siglas mb-2 text-white" style="font-size:30px;"></p>
                    </a>
            </div>
        </div>
        <div class="col-10 col-flex-inline redound p-0  text-center mb-auto full-width   mx-auto  ">
            <p class="m-0 p-0  bg-white rounded  text-black" style="font-size:0.8rem"> Software Desenvolvido por 
                <a class="text-decoration-none  text-black " href="https://samuelmedeirosportfolio.azurewebsites.net" target="_blank">@Samuel Medeiros</a>.</p>
        </div>
    </footer>
    </div>
    <style>
        /* Largura da barra de rolagem */
        ::-webkit-scrollbar {
          width: 08px;
      }
      
      /* Track (a trilha da barra de rolagem) */
      ::-webkit-scrollbar-track {
          background: #f1f1f1; /* Cor de fundo */
      }
      
      /* Thumb (o "botão" da barra de rolagem) */
      ::-webkit-scrollbar-thumb {
          background: #2f2f34; /* Cor de fundo do botão */
          border-radius: 5px; /* Cantos arredondados */
      }
      
      /* On hover, adiciona cor à thumb */
      ::-webkit-scrollbar-thumb:hover {
          background: #555; /* Cor de fundo ao passar o mouse */
      }
    </style>



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.6.4.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/jquery-mask.js' %}" ></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script type="text/javascript" src="{% static 'js/Global.js' %}" ></script>
    
</body>
</html>
