{% block content %}
  <div class="modal fade" id="globalModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-white" id="staticBackdropLabel"></h1>
        </div>
        <div class="modal-body text-white" id="id_body_modal_confirmacao"></div>
        <div class="modal-footer text-white">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancelarBtn">Cancelar</button>
          <button type="button" class="btn btn-primary" id="confirmarBtn">Confirmar</button>
        </div></div>
    </div>
  </div>

  <script >
        // Função para abrir o modal de confirmação
    function abrirModalConfirmacao(titulo_modal, descricao_modal) {
      var modal = document.getElementById("globalModal");
      var modalTitulo = modal.querySelector(".modal-title");
      var modalDescricao = modal.querySelector("#id_body_modal_confirmacao");

      modalTitulo.textContent = titulo_modal;
      modalDescricao.textContent = descricao_modal;

      var myModal = new bootstrap.Modal(modal);
      myModal.show();

      return new Promise((resolve, reject) => {
          var confirmarBtn = modal.querySelector("#confirmarBtn");
          var cancelarBtn = modal.querySelector("#cancelarBtn");

          confirmarBtn.onclick = function() {
              myModal.hide();
              resolve(true);
          };

          cancelarBtn.onclick = function() {
              myModal.hide();
              reject(false);
          };
      });
    }

    // Função para adicionar evento de confirmação aos botões
    function adicionarEventoConfirmacao() {
      var botoes = document.querySelectorAll('.btn-confirmacao');

      botoes.forEach(function(botao) {
          botao.addEventListener('click', function(event) {
              event.preventDefault();
              var acao = botao.getAttribute('data-acao');
              var titulo = botao.getAttribute('data-titulo');
              var descricao = botao.getAttribute('data-descricao');

              abrirModalConfirmacao(titulo, descricao)
                  .then(function(confirmado) {
                      if (confirmado) {
                          var caminhoUrl = botao.getAttribute('href');
                          window.location.href = caminhoUrl;
                      }
                  })
                  .catch(function(cancelado) {
                      // Ação cancelada, não faz nada
                  });
          });
      });
    }

    // Adiciona o evento de confirmação aos botões após o carregamento do DOM
    document.addEventListener('DOMContentLoaded', function() {
      adicionarEventoConfirmacao();
    });

  </script>

{% endblock %}
