{% extends 'base.html' %}

{% block title %}Lista de Produtos{% endblock %}

{% block content %}
{% include 'produto/modal_produto.html' %}

 

<div class="my-5 container-xl mx-auto ">
    <div class="d-flex justify-content-between mb-2">
        <h1 style="font-size: 1.3rem;"><i class="bi bi-box"></i> Lista de Produtos</h1>
            {% if produtos|length >= 1 %}

<a type="button"  href="{% url 'acrescentar_produto' %}" id="btnAcrescentar" class="btn btn-success btn-sm ms-auto me-2" style="font-size: 0.8rem;"><i style="font-size: 0.8rem;" class="bi bi-box-arrow-in-up me-1"></i> Acrescentar Quantidade de Produto </a>
{%endif%}
<a  type="button"  href="{% url 'criar_produto' %}"  id="btnCriar" class="btn btn-warning btn-sm" style="font-size: 0.8rem;"><i style="font-size: 0.8rem;" class="bi bi-file-earmark-plus me-1"></i>Criar Novo Produto</a>
    </div>

    <div id="filtroProdutos" class="mb-2 mx-auto card-md card">
        <div class="card-header">
            <h5 class="card-title mb-0">
                <button id="btnAbrirFiltro" class="btn btn-text border-1" type="button" data-bs-toggle="collapse" data-bs-target="#filtroCollapse" aria-expanded="false" aria-controls="filtroCollapse">
                    <i class="bi bi-funnel me-2"></i>Filtro de Produtos
                </button>
            </h5>
        </div>
        <div class="collapse" id="filtroCollapse">
            <div class="card-body">

                <div class="form-floating mb-2 form-loja">
                    <select id="selectLojas" class="form-select classe_select_lojas"></select>
                    <label for="selectLojas" class="form-label">Filtrar por Loja:</label>
                </div>
                <div class="input-group mb-2">
                    <span class="input-group-text" id="search-icon">
                        <i class="bi bi-search"></i>
                    </span>
                    <input type="text" id="textProduto" maxlength="50" class="form-control" aria-describedby="search-icon" placeholder="Filtrar por nome do produto">
                </div>
     
            </div>
        </div>
    </div>
    
    
    <ul id="listaProdutos" class="list-group"></ul>
    <div  class=" container-xl p-3  mx-auto bg-dark rounded">
        <table class="table table-hover table-responsive table-sm table-dark  ">
            <thead>
                <tr>
                    <th scope="col" class="text-start " style="font-size: 0.7rem;">Nome</th>
                    <th scope="col" class=" d-none d-sm-table-cell order-1 text-start" style="font-size: 0.7rem;">Quantidade Atual</th>
                    <th scope="col" class=" d-none d-sm-table-cell order-2 text-start" style="font-size: 0.7rem;">Valor</th>
                    <th scope="col" class="text-end" style="font-size: 0.7rem;">Ações</th>
                </tr>
            </thead>
            <tbody class="table-group-divider ">
               
            </tbody>
        </table>
    </div>
</div>

    </div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        function criarTabelaProdutos(produtos) {
            const tbody = document.querySelector('.table-group-divider');
            const data_lojas = Utils.getLocalStorageItem('data_lojas');
                
            if (!Array.isArray(data_lojas) || data_lojas.length === 0) {
                console.error('Nenhuma loja encontrada.');
                return;
            }
            // Limpa o conteúdo existente da tabela
            tbody.innerHTML = '';

        // Verificar se existem dados de vendas no localStorage
             if (produtos && produtos.length > 0) {
                    produtos.forEach(produto => {
                        const tr = document.createElement('tr');
                        
                        const loja = data_lojas.find(loja => loja.id_loja === produto.loja_id);
                        
                        if (loja) {
                            tr.setAttribute('data-loja', loja.nome_loja);
                        } else {
                            console.error('Loja não encontrada para o produto:', produto);
                        }

                        const tdNome = criarElementoTD(produto.nome, '0.8rem',[ 'd-sm-table-cell','align-middle']);
                        const tdQuantidade = criarElementoTD(produto.quantidade_atual_estoque, '0.8rem', ['d-none', 'd-sm-table-cell', 'order-1', 'text-start','text-white','align-middle']);
                        const tdPreco = criarElementoTD(produto.preco_venda, '0.8rem', ['d-none', 'd-sm-table-cell', 'order-2', 'text-start','text-white','align-middle']);
                        const tdAcoes = criarElementoTD('', '', ['text-end']);
                
                        const divBtnGroup = document.createElement('div');
                        divBtnGroup.classList.add('btn-group');
                        divBtnGroup.setAttribute('role', 'group');
                        divBtnGroup.setAttribute('aria-label', 'Ações do Usuário');
                        
                        const urls = [
                            `/produtos/selecionar/${produto.id_produto}/`,
                            `/produtos/editar/${produto.id_produto}/`,
                            `/produtos/excluir/${produto.id_produto}/`
                        ];
                
                        const icons = ['bi-eye', 'bi-pencil', 'bi-trash'];
                        const btnClasses = ['btn-success', 'btn-warning', 'btn-danger'];
                
                        for (let i = 0; i < urls.length; i++) {
                            const a = criarElementoLink(urls[i], ['btn', 'btn-sm', `${btnClasses[i]}`], '0.8rem');
                            const icon = criarElementoIcone('i', ['bi', icons[i], 'me-1'], '0.8rem');
                
                            a.appendChild(icon);
                            divBtnGroup.appendChild(a);
                        }
                
                        tdAcoes.appendChild(divBtnGroup);
                        
                        tr.appendChild(tdNome);
                        tr.appendChild(tdQuantidade);
                        tr.appendChild(tdPreco);
                        tr.appendChild(tdAcoes);
                
                        tbody.appendChild(tr);
                    });
            }
            else {
                // Se não houver dados de vendas no localStorage, exibir uma mensagem na tabela
                const tr = document.createElement('tr');
    
                const tdMensagem = document.createElement('td');
                tdMensagem.textContent = 'Nenhuma produto encontrado';
                tdMensagem.setAttribute('colspan', '4');
    
                tr.appendChild(tdMensagem);
                tbody.appendChild(tr);
            }
        }
        
        function criarElementoTD(texto, tamanhoFonte, classes = []) {
            const td = document.createElement('td');
            td.textContent = texto;
            td.style.fontSize = tamanhoFonte;
        
            for (const classe of classes) {
                td.classList.add(classe);
            }
        
            return td;
        }
        
        function criarElementoLink(href, classes = [], tamanhoFonte = '') {
            const a = document.createElement('a');
            a.href = href;
            a.style.fontSize = tamanhoFonte;
        
            for (const classe of classes) {
                a.classList.add(classe);
            }
        
            return a;
        }
        
        function criarElementoIcone(tag, classes = [], tamanhoFonte = '') {
            const icon = document.createElement(tag);
            icon.style.fontSize = tamanhoFonte;
        
            for (const classe of classes) {
                icon.classList.add(classe);
            }
        
            return icon;
        }
        window.onload = function() {
            chamarFuncaoPython("/api/vendas/dados", null, 'GET', function(response) {
                if (response.success === true) {
                    // Armazenar os dados no localStorage
                    atualizarDropdownLojas(response.lojas,"classe_select_lojas");
                    Utils.setLocalStorageItem('data_lojas', response.lojas);
                    Utils.setLocalStorageItem('data_produtos', response.produtos);
                    criarTabelaProdutos(response.produtos) 
                } else {
                    alertCustomer(response.error);
                }
            });
        };
        function filtrarProdutos() {
           // Recupera os dados de lojas e produtos do LocalStorage
            const lojas = Utils.getLocalStorageItem('data_lojas');
            const produtos = Utils.getLocalStorageItem('data_produtos');

            // Verifica se os dados foram recuperados com sucesso
            if (!lojas || !produtos) {
                console.error('Erro ao recuperar os dados de lojas ou produtos do LocalStorage.');
                return;
            }

            const valorInputProduto = inputProduto.value.toLowerCase();
            const valorSelectLoja = parseInt(selectLojas.value);

            // Filtrar produtos com base no nome do produto e na loja selecionada
            const produtosFiltrados = produtos.filter(produto => {
                // Verifica se uma loja foi selecionada
                if (valorSelectLoja > 0) {
                    // Filtra os produtos pela loja selecionada
                    return produto.loja_id === valorSelectLoja;
                } else {
                    // Se nenhuma loja foi selecionada, retorna todos os produtos
                    return true;
                }
            }).filter(produto => {
                // Verifica se o usuário digitou algo no campo de busca
                if (valorInputProduto !== '') {
                    // Filtra os produtos com base no nome do produto
                    return produto.nome.toLowerCase().includes(valorInputProduto);
                } else {
                    // Se o campo de busca estiver vazio, não aplica nenhum filtro adicional
                    return true;
                }
            });            
        
            // Atualizar a tabela de produtos com os produtos filtrados
            criarTabelaProdutos(produtosFiltrados);
        }

        // Adiciona um evento de escuta para o select
        const selectLojas = document.getElementById('selectLojas');
        selectLojas.addEventListener('change', function() {
            filtrarProdutos();
        });

        // Adiciona um evento de escuta para o input de texto
        const inputProduto = document.getElementById('textProduto');
        inputProduto.addEventListener('input', function() {
            filtrarProdutos();
        });
         
        function atualizarDropdownLojas(list_lojas, classe_select_lojas) {
            // Seleciona todos os elementos select com a classe especificada
            const selects = document.querySelectorAll('.' + classe_select_lojas);
        
            // Itera sobre cada select encontrado
            selects.forEach(function(select) {
                // Limpa as opções existentes
                select.innerHTML = '';
        
                // Adiciona a opção padrão, se houver mais de uma loja na lista
                if (list_lojas.length > 1) {
                    const optionDefault = document.createElement('option');
                    optionDefault.value = '0';
                    optionDefault.textContent = 'Selecione';
                    select.appendChild(optionDefault);
                }
        
                // Adiciona as opções de lojas
                list_lojas.forEach(function(loja) {
                    const option = document.createElement('option');
                    option.value = loja.id_loja;
                    option.textContent = loja.nome_loja;
                    select.appendChild(option);
                });
            });
        }

        $(document).ready(function() {
            // Define a variável para controlar a ordem atual da classificação
            var ascending = false;
            
            // Adiciona um ouvinte de evento de clique para cada cabeçalho da coluna
            $('th').click(function() {
                // Obtém o índice da coluna clicada
                var columnIndex = $(this).index();
    
                // Obtém a matriz das linhas da tabela
                var rows = $('tbody').find('tr').get();
    
                // Ordena as linhas com base no conteúdo da coluna clicada
                rows.sort(function(rowA, rowB) {
                    var cellA = $(rowA).children('td').eq(columnIndex).text().toUpperCase();
                    var cellB = $(rowB).children('td').eq(columnIndex).text().toUpperCase();
                    
                    if (columnIndex === 0 || columnIndex === 3) {
                        return ascending ? (cellA < cellB ? -1 : 1) : (cellA > cellB ? -1 : 1);
                    } else {
                        return ascending ? parseFloat(cellA) - parseFloat(cellB) : parseFloat(cellB) - parseFloat(cellA);
                    }
                });
    
                // Reorganiza as linhas na tabela
                $.each(rows, function(index, row) {
                    $('tbody').append(row);
                });
    
                // Alterna a ordem da classificação
                ascending = !ascending;
            });
        });
    // Abrir o modal se a variável indicar que deve ser aberto automaticamente
    {% if open_modal %}
    document.addEventListener('DOMContentLoaded', function() {
        var myModal = new bootstrap.Modal(document.getElementById('ModalProduto'));
        myModal.show();
    });
    {% endif %}

  </script>
 
        {% endblock %}
