

{% block content %}
<div class="modal fade" id="ModalConfiguracao" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  modal-md modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title fw-bold font-monospace" id="ModalLabel" >
                {% if formularios_configuracao %} Formulario do Configuração{% endif%}
            </h5>
            </div>
                <form method="post" id="form" class="needs-validation modal-body  font-monospace py-2"   autocomplete="off" novalidate>

                        <div class="alert alert-warning font-monospace" role="alert">
                            <i class="bi bi-exclamation-triangle-fill"></i>
                            <strong>Atenção:</strong> As configurações de usuário permitem restringir acessos. Por favor, configure com cuidado.
                        </div>
                        {% if formularios_configuracao %}
                            {% csrf_token %}
                            <div class="list-group">
                                {% for configuracao in formularios_configuracao %}
                                    <label class="list-group-item d-flex gap-2">
                                        <input type="checkbox" name="status_acesso_{{ configuracao.id_configuracao }}" class="form-check-input" {% if configuracao.status_acesso %}checked{% endif %}>
                                        <span>
                                            {{ configuracao.titulo }}
                                            <small class="d-block text-body-secondary">{{ configuracao.descricao }}</small>
                                        </span>
                                    </label>
                                    <input type="hidden" name="configuracao_id_{{ configuracao.id_configuracao }}" value="{{ configuracao.id_configuracao }}">
                                {% endfor %}
                            </div>
                       {% endif %}

            <div class="modal-footer ">
                <a href="{% url 'listar_usuarios' %}" class="btn btn-secondary float-start me-auto btn-sm">Cancelar</a>
                <button type="submit" class="btn btn-primary float-end btn-md">Salvar</button>
            </div>
        </form>

        </div>
    </div>
</div>


{% endblock %}
